p.article__date {
	font-size: 12px;
	@include font(med);
	color: rgba(0,0,0,0.5);
	margin-bottom: 20px;
	margin-top: -20px;
}

.seealso__title {
	font-size: 16px;
	@include font(med);
	margin-bottom: 10px;
}

.seealso__list {
	list-style: initial;
	padding-left: 20px;
}

.seealso__item {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 10px;
}

.seealso__link {
	@include states {
		color: #4990e2;
		text-decoration: underline;
	}
	@include linksHover();
}