@font-face {
    font-family: 'FiraSans-Bold';
    src: url('../fonts/fira-sans/FiraSans-Bold/FiraSans-Bold.woff') format('woff'),
         url('../fonts/fira-sans/FiraSans-Bold/FiraSans-Bold.eot') format('eot'),
         url('../fonts/fira-sans/FiraSans-Bold/FiraSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-ExtraBold';
    src: url('../fonts/fira-sans/FiraSans-ExtraBold/FiraSans-ExtraBold.woff') format('woff'),
         url('../fonts/fira-sans/FiraSans-ExtraBold/FiraSans-ExtraBold.eot') format('eot'),
         url('../fonts/fira-sans/FiraSans-ExtraBold/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Heavy';
    src: url('../fonts/fira-sans/FiraSans-Heavy/FiraSans-Heavy.woff') format('woff'),
         url('../fonts/fira-sans/FiraSans-Heavy/FiraSans-Heavy.eot') format('eot'),
         url('../fonts/fira-sans/FiraSans-Heavy/FiraSans-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Italic';
    src: url('../fonts/fira-sans/FiraSans-Italic/FiraSans-Italic.woff') format('woff'),
         url('../fonts/fira-sans/FiraSans-Italic/FiraSans-Italic.eot') format('eot'),
         url('../fonts/fira-sans/FiraSans-Italic/FiraSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Light';
    src: url('../fonts/fira-sans/FiraSans-Light/FiraSans-Light.woff') format('woff'),
         url('../fonts/fira-sans/FiraSans-Light/FiraSans-Light.eot') format('eot'),
         url('../fonts/fira-sans/FiraSans-Light/FiraSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Medium';
    src: url('../fonts/fira-sans/FiraSans-Medium/FiraSans-Medium.woff') format('woff'),
         url('../fonts/fira-sans/FiraSans-Medium/FiraSans-Medium.eot') format('eot'),
         url('../fonts/fira-sans/FiraSans-Medium/FiraSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../fonts/fira-sans/FiraSans-Regular/FiraSans-Regular.woff') format('woff'),
         url('../fonts/fira-sans/FiraSans-Regular/FiraSans-Regular.eot') format('eot'),
         url('../fonts/fira-sans/FiraSans-Regular/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans-SemiBold';
    src: url('../fonts/fira-sans/FiraSans-SemiBold/FiraSans-SemiBold.woff') format('woff'),
         url('../fonts/fira-sans/FiraSans-SemiBold/FiraSans-SemiBold.eot') format('eot'),
         url('../fonts/fira-sans/FiraSans-SemiBold/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

