/* ======= mixins ========= */
/* ===== instruments ====== */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

label {
  margin-bottom: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'FiraSans-Regular';
  display: table;
  background: #f6f6f6;
  line-height: normal;
}

.img-container {
  max-width: 100%;
}

.img-responsive {
  width: 100%;
}

.main {
  height: auto;
  overflow: hidden;
}

.footer {
  height: 1px;
  display: table-row;
}

.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

/* ======= sections ====== */
.clients-left {
  min-height: 325px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  padding: 20px 40px 15px 40px;
}

.clients-right {
  min-height: 325px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  padding: 63px 22px 50px 22px;
}

.owl-clients__clients-big-img-container {
  margin-bottom: 10px;
  border: 1px solid #D3D3D3;
}

.owl-clients img.owl-clients__clients-sm-img {
  width: 75%;
  margin: 0 auto;
}

.owl-clients__clients-sm-img-container {
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-title {
  font-size: 20px;
  font-family: 'FiraSans-Medium';
  margin-bottom: 24px;
}

.owl-clients {
  padding: 0 22px;
}
.owl-clients .owl-prev {
  position: absolute;
  top: 62px;
  left: -20px;
  color: transparent;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-clients .owl-prev:hover {
  opacity: 0.6;
}
.owl-clients .owl-prev:active {
  opacity: 1;
}
.owl-clients .owl-prev:before {
  content: "\f100";
  font-size: 36px;
  color: #a01714;
}
.owl-clients .owl-next {
  position: absolute;
  top: 62px;
  right: -20px;
  color: transparent;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-clients .owl-next:hover {
  opacity: 0.6;
}
.owl-clients .owl-next:active {
  opacity: 1;
}
.owl-clients .owl-next:before {
  content: "\f101";
  font-size: 36px;
  color: #a01714;
}
.owl-clients .owl-prev.disabled:before,
.owl-clients .owl-next.disabled:before {
  color: rgba(0, 0, 0, 0.2);
}

.clients {
  margin-bottom: 30px;
}

.clients-right__title {
  font-size: 24px;
  line-height: 30px;
  font-family: 'FiraSans-Medium';
  margin-bottom: 37px;
}

.clients-right__btn {
  width: 100%;
  display: block;
  text-align: center;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.clients-right__btn:hover, .clients-right__btn:active, .clients-right__btn:focus {
  width: 100%;
  display: block;
  text-align: center;
}
.clients-right__btn:hover {
  opacity: 0.6;
}
.clients-right__btn:active {
  opacity: 1;
}

.experts {
  margin-bottom: 30px;
}

.experts-content {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  padding: 20px 40px 15px 40px;
}

.experts__title {
  font-size: 20px;
  font-family: 'FiraSans-Medium';
}

.experts__top {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.experts__btn {
  font-size: 14px;
  color: #a01714;
  font-family: 'FiraSans-Medium';
  transition: all .3s ease-in-out;
  opacity: 1;
}
.experts__btn:hover, .experts__btn:active, .experts__btn:focus {
  font-size: 14px;
  color: #a01714;
  font-family: 'FiraSans-Medium';
}
.experts__btn:hover {
  opacity: 0.6;
}
.experts__btn:active {
  opacity: 1;
}

.experts__list {
  display: flex;
  justify-content: space-between;
}
.experts__list:before, .experts__list:after {
  display: none;
}

.experts__link {
  display: block;
  transition: all .3s ease-in-out;
  opacity: 1;
  min-height: 250px;
}
.experts__link:hover {
  opacity: 0.6;
}
.experts__link:active {
  opacity: 1;
}

.experts__img-container {
  margin-bottom: 10px;
}

.experts__item-info {
  margin-bottom: 6px;
}

.experts__item-date {
  display: inline-block;
  font-size: 12px;
  font-family: 'FiraSans-Medium';
  color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}

.experts__item-tag {
  display: inline-block;
  font-size: 12px;
  font-family: 'FiraSans-Medium';
}

.experts__item-tag_green {
  color: #23b5ad;
}

.experts__item-tag_pink {
  color: #bd0fe1;
}

.experts__item-tag_orange {
  color: #f6a623;
}

.experts__item-tag_blue {
  color: #4990e2;
}

.experts__item-text {
  font-size: 13px;
  line-height: 18px;
}

.footer {
  background-color: #ffffff;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.14);
}
.footer .container {
  padding: 15px 45px 30px 45px;
}

.footer-logo {
  max-width: 225px;
  display: inline-block;
  margin-right: 40px;
  margin-left: -10px;
}

.footer-nav {
  display: inline-block;
}

.footer-nav__list {
  margin-right: -30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-nav__item {
  margin-right: 30px;
}

.footer-nav__link {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'FiraSans-Medium';
  transition: all .3s ease-in-out;
  opacity: 1;
}
.footer-nav__link:hover, .footer-nav__link:active, .footer-nav__link:focus {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'FiraSans-Medium';
}
.footer-nav__link:hover {
  opacity: 0.6;
}
.footer-nav__link:active {
  opacity: 1;
}

.footer-logo__img {
  max-width: inherit;
}

.footer__left-top {
  padding-bottom: 32px;
  position: relative;
  margin-bottom: 15px;
}
.footer__left-top:before {
  display: block;
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
}

.footer__copy {
  font-size: 10px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.footer__info-wrap {
  display: flex;
}

.footer__info-title {
  margin-right: 9px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.footer__info-text {
  font-size: 14px;
  letter-spacing: 0.2px;
}

.footer__info-wrap {
  margin-bottom: 11px;
}
.footer__info-wrap:last-child {
  margin-bottom: 0;
}

.footer__right-top {
  margin-bottom: 35px;
  padding-top: 20px;
}

.footer__lang-title {
  font-size: 12px;
}

.footer__lang-item {
  font-size: 16px;
  font-family: 'FiraSans-Medium';
  margin-right: 10px;
  display: inline-block;
  position: relative;
  color: #a01714;
}
.footer__lang-item.active {
  color: #d2d2d2;
}
.footer__lang-item:before {
  display: block;
  content: "/";
  position: absolute;
  right: -11px;
  color: #a01714;
}
.footer__lang-item:last-child {
  margin-right: 0;
}
.footer__lang-item:last-child:before {
  display: none;
}

.footer__lang-link {
  display: block;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.footer__lang-link:hover {
  opacity: 0.6;
}
.footer__lang-link:active {
  opacity: 1;
}

.header {
  padding: 12px 0;
  font-size: 0;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.header-logo {
  vertical-align: middle;
  display: inline-block;
  margin-right: 40px;
}
.header-logo:hover, .header-logo:active, .header-logo:focus {
  vertical-align: middle;
  display: inline-block;
  margin-right: 40px;
}

.header-logo__img {
  max-width: 223px;
  width: 100%;
  margin-left: -10px;
}

.header-nav {
  vertical-align: middle;
  display: inline-block;
  padding: 10px 0;
}

.header-nav__burger {
  display: inline-block;
  width: 110px;
  height: 43px;
  border-radius: 3px;
  border: solid 1px #c8c8c8;
  margin-right: 20px;
  padding: 12px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.header-nav__burger:hover, .header-nav__burger:active, .header-nav__burger:focus {
  display: inline-block;
  width: 110px;
  height: 43px;
  border-radius: 3px;
  border: solid 1px #c8c8c8;
  margin-right: 20px;
  padding: 12px;
}
.header-nav__burger:hover {
  opacity: 0.6;
}
.header-nav__burger:active {
  opacity: 1;
}

.header-nav__burger-items {
  display: inline-block;
  margin-right: 9px;
  vertical-align: middle;
}

.header-nav__burger-item {
  position: relative;
  background-color: black;
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 4px;
  margin-right: auto;
  margin-left: auto;
}
.header-nav__burger-item:last-child {
  margin-bottom: 0;
}

.header-nav__burger-text {
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'FiraSans-Medium';
}

.header-logo__text {
  font-size: 0;
  text-indent: -99999px;
}

.header-nav__list {
  display: inline-block;
  margin-right: -33px;
  vertical-align: middle;
}

.header-nav__item {
  display: inline-block;
  margin-right: 33px;
  vertical-align: middle;
}
.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__link {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'FiraSans-Medium';
  transition: all .3s ease-in-out;
  opacity: 1;
}
.header-nav__link:hover, .header-nav__link:active, .header-nav__link:focus {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'FiraSans-Medium';
}
.header-nav__link:hover {
  opacity: 0.6;
}
.header-nav__link:active {
  opacity: 1;
}

.header-info {
  text-align: left;
  padding-left: 24px;
  min-width: 174px;
  border-left: 1px solid #EAEAEA;
  display: inline-block;
  margin-left: auto;
  vertical-align: middle;
  float: right;
  padding-top: 7px;
}

.header-info__tel {
  font-size: 20px;
  font-family: 'FiraSans-Medium';
  color: #a01714;
  margin-bottom: 10px;
}
.header-info__tel:last-child {
  margin-bottom: 0;
}

.header-nav__search {
  font-size: 18px;
}
.header-nav__search:hover, .header-nav__search:active, .header-nav__search:focus {
  font-size: 18px;
}

.header-search {
  background: #fff;
  display: none;
  top: 100%;
  position: absolute;
  width: 100%;
  height: 72px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), inset 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  padding: 24px 0;
  z-index: 2;
}

.header-search__input {
  font-size: 18px;
  height: 25px;
  width: 100%;
  outline: none;
  border: none;
}

.header-search__search-ico {
  font-size: 24px;
  opacity: 0.1;
  margin-right: 14px;
  padding-bottom: 4px;
}

.header-search__form {
  display: inline-block;
  width: 100%;
  margin-right: 35px;
}

.header-search__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-search__exit-btn {
  font-size: 24px;
  color: #787373;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.header-search__exit-btn:hover, .header-search__exit-btn:active, .header-search__exit-btn:focus {
  font-size: 24px;
  color: #787373;
}
.header-search__exit-btn:hover {
  opacity: 0.6;
}
.header-search__exit-btn:active {
  opacity: 1;
}

.header-burmenu {
  background: #fff;
  display: none;
  top: 100%;
  position: absolute;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), inset 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  padding: 60px 0 40px 0;
  z-index: 2;
}

.header-burmenu__cols {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-burmenu__col-1 {
  max-width: 200px;
}

.header-burmenu__col-2 {
  max-width: 220px;
}

.header-burmenu__col-3 {
  max-width: 265px;
}

.header-burmenu__col-4 {
  max-width: 280px;
}

.header-burmenu__item {
  margin-bottom: 30px;
}
.header-burmenu__item:last-child {
  margin-bottom: 0;
}

.header-burmenu__title {
  font-family: 'FiraSans-Bold';
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;
  font-size: 16px;
  padding-bottom: 13px;
}
.header-burmenu__title:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 60px;
  left: 0;
  background: #7F7F7F;
}

.header-burmenu__item-item {
  margin-bottom: 10px;
  font-size: 14px;
}
.header-burmenu__item-item:last-child {
  margin-bottom: 0;
}

.header-burmenu__item-link {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.header-burmenu__item-link:hover {
  opacity: 0.6;
}
.header-burmenu__item-link:active {
  opacity: 1;
}

.header-burmenu__copy {
  font-size: 12px;
}

.header-burmenu__close {
  position: absolute;
  right: 15px;
  top: -45px;
  font-size: 14px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.header-burmenu__close:hover, .header-burmenu__close:active, .header-burmenu__close:focus {
  position: absolute;
  right: 15px;
  top: -45px;
  font-size: 14px;
}
.header-burmenu__close:hover {
  opacity: 0.6;
}
.header-burmenu__close:active {
  opacity: 1;
}

.header-burmenu .container {
  position: relative;
}

body {
  table-layout: fixed;
}

.main-about {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.main-about__list {
  display: flex;
  margin-right: -30px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.main-about__item {
  min-height: 88px;
  background: #fff;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'FiraSans-Medium';
  text-align: center;
  margin-right: 30px;
  color: #a01714;
}

.main-about__link {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.main-about__link:hover {
  opacity: 0.6;
}
.main-about__link:active {
  opacity: 1;
}

.main-about__content {
  background: #fff;
  padding: 30px 40px 40px 40px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.main-about__top {
  display: flex;
  justify-content: space-between;
}

.main-about__title {
  max-width: 390px;
  font-size: 20px;
  font-family: 'FiraSans-Medium';
  margin-bottom: 24px;
}

.main-about__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
}
.main-about__text p {
  margin-bottom: 15px;
}
.main-about__text p:last-child {
  margin-bottom: 0;
}

.main-about__bot-img-wrap {
  float: right;
  margin-left: 70px;
}

.main-about__tag {
  align-self: flex-end;
  margin-bottom: 49px;
  min-width: 117px;
  height: 27px;
  padding: 6px 5px 5px 5px;
  text-align: center;
  font-size: 12px;
  font-family: 'FiraSans-Medium';
  background-color: #EEF5FC;
}

.main-about__img-container {
  max-width: 260px;
  margin-bottom: 23px;
}

.main-about__img-text {
  max-width: 260px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: 'FiraSans-Medium';
  color: rgba(0, 0, 0, 0.2);
}

.main-about__next-btn {
  font-size: 14px;
  color: #a01714;
  text-decoration: underline;
  font-family: 'FiraSans-Medium';
  transition: all .3s ease-in-out;
  opacity: 1;
}
.main-about__next-btn:hover, .main-about__next-btn:active, .main-about__next-btn:focus {
  font-size: 14px;
  color: #a01714;
  text-decoration: underline;
  font-family: 'FiraSans-Medium';
}
.main-about__next-btn:hover {
  opacity: 0.6;
}
.main-about__next-btn:active {
  opacity: 1;
}

.modal-big-request__dialog {
  position: relative;
  pointer-events: auto;
  width: 685px;
  max-width: 90%;
}
.modal-big-request__dialog .modal-question__textarea {
  height: 94px;
}

.modal-big-request__container {
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  padding: 60px 35px 50px 35px;
}

.modal-big-request__col {
  width: 50%;
  margin-right: 15px;
}

.modal-big-request___inputs-wrap {
  margin-bottom: 38px;
}

.modal-big-request__cols {
  display: flex;
  margin-right: -15px;
}

.modal-question__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.modal-question__dialog {
  position: relative;
  pointer-events: auto;
  width: 575px;
  max-width: 90%;
}

.modal-question__container {
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  padding: 60px 75px 50px 75px;
}

.modal-question__title {
  font-size: 20px;
  line-height: 26px;
  font-family: 'FiraSans-Bold';
  text-align: center;
  margin-bottom: 35px;
}

.modal-qusetion__inputs-wrap {
  margin-bottom: 38px;
}

.modal-question__input {
  outline: none;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #c4c4c4;
  width: 100%;
  padding: 0 11px;
  font-size: 13px;
  margin-bottom: 14px;
}

.modal-question__textarea {
  outline: none;
  height: 97px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #c4c4c4;
  width: 100%;
  padding: 12px 11px;
  font-size: 13px;
  margin-bottom: 14px;
  resize: none;
}

.modal-question__sbm {
  display: block;
  width: 100%;
  max-width: 265px;
  margin: 0 auto;
  text-align: center;
  height: 45px;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  background: #a01714;
  font-family: 'FiraSans-Medium';
  outline: none;
  border: none;
  line-height: 45px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.modal-question__sbm:hover, .modal-question__sbm:active, .modal-question__sbm:focus {
  display: block;
  width: 100%;
  max-width: 265px;
  margin: 0 auto;
  text-align: center;
  height: 45px;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  background: #a01714;
  font-family: 'FiraSans-Medium';
  outline: none;
  border: none;
  line-height: 45px;
}
.modal-question__sbm:hover {
  opacity: 0.6;
}
.modal-question__sbm:active {
  opacity: 1;
}

.modal-question__file {
  display: none !important;
}

.modal-question__file-label {
  display: inline-block;
  margin-right: 11px;
  height: 28px;
  border-radius: 3px;
  border: solid 1px #000000;
  font-size: 12px;
  width: 118px;
  text-align: center;
  cursor: pointer;
  line-height: 26px;
  vertical-align: middle;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.modal-question__file-label:hover {
  opacity: 0.6;
}
.modal-question__file-label:active {
  opacity: 1;
}

.modal-question__file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  max-width: 70%;
}

.modal-question__file-wrap {
  white-space: nowrap;
}

.modal-question__exit-btn {
  position: absolute;
  top: 12px;
  right: 22px;
  font-size: 24px;
  color: #CFCDCD;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.modal-question__exit-btn:hover, .modal-question__exit-btn:active, .modal-question__exit-btn:focus {
  position: absolute;
  top: 12px;
  right: 22px;
  font-size: 24px;
  color: #CFCDCD;
}
.modal-question__exit-btn:hover {
  opacity: 0.6;
}
.modal-question__exit-btn:active {
  opacity: 1;
}

.modal-request__dialog {
  position: relative;
  pointer-events: auto;
  width: 685px;
  max-width: 90%;
}
.modal-request__dialog .modal-question__textarea {
  height: 78px;
}

.modal-request__container {
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  padding: 45px 112px 37px 112px;
}

.modal-request__inputs-wrap {
  margin-bottom: 25px;
  padding: 0 18px;
}

.owl-top-main__item {
  min-height: 455px;
  padding-top: 72px;
}

.owl-top-main__item-container {
  position: relative;
}

.owl-top-main__text {
  max-width: 500px;
  width: 100%;
  font-size: 26px;
  line-height: 34px;
  font-family: 'FiraSans-Medium';
  margin-bottom: 38px;
  color: #fff;
}

.owl-top-main__btn {
  display: inline-block;
  width: 220px;
  height: 45px;
  line-height: 43px;
  text-align: center;
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  color: #fff;
  border-radius: 3px;
  border: 1px solid #fff;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.owl-top-main__btn:hover, .owl-top-main__btn:active, .owl-top-main__btn:focus {
  display: inline-block;
  width: 220px;
  height: 45px;
  line-height: 43px;
  text-align: center;
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  color: #fff;
  border-radius: 3px;
  border: 1px solid #fff;
}
.owl-top-main__btn:hover {
  opacity: 0.6;
}
.owl-top-main__btn:active {
  opacity: 1;
}

.main-slider {
  width: 100%;
}

.owl-top-main .owl-dots {
  position: absolute;
  text-align: center;
  bottom: 60px;
  width: 100%;
}
.owl-top-main .owl-dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 8px;
}
.owl-top-main .owl-dot:last-child {
  margin-right: 0;
}
.owl-top-main .owl-dot.active {
  background: #fff;
}

.main-slider {
  position: relative;
}

.main-slider__inputs-wrap {
  margin-bottom: 32px;
}

.main-slider__form-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.main-slider__form {
  position: absolute;
  top: 40px;
  z-index: 1;
  right: 15px;
  width: 265px;
  padding: 33px 23px 22px 23px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.main-slider__input {
  font-size: 13px;
  padding: 0 12px;
  height: 38px;
  width: 100%;
  border: solid 1px #c4c4c4;
  border-radius: 3px;
  background-color: #ffffff;
  outline: none;
  margin-bottom: 14px;
}
.main-slider__input:last-child {
  margin-bottom: 0;
}

.main-slider__subm-btn, .clients-right__btn {
  border: none;
  outline: none;
  height: 45px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  line-height: 45px;
  border-radius: 3px;
  background-color: #a01714;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  transition: all .3s ease-in-out;
  opacity: 1;
}
.main-slider__subm-btn:hover, .clients-right__btn:hover, .main-slider__subm-btn:active, .clients-right__btn:active, .main-slider__subm-btn:focus, .clients-right__btn:focus {
  border: none;
  outline: none;
  height: 45px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  line-height: 45px;
  border-radius: 3px;
  background-color: #a01714;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.main-slider__subm-btn:hover, .clients-right__btn:hover {
  opacity: 0.6;
}
.main-slider__subm-btn:active, .clients-right__btn:active {
  opacity: 1;
}

.owl-top-main__item-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-size: cover;
  background-position: 50% 50%;
}
.owl-top-main__item-bg:before {
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.main-slider__select + .select2-container {
  outline: none;
  display: block;
  width: 100% !important;
}
.main-slider__select + .select2-container .select2-selection {
  outline: 1px solid transparent;
  width: 100%;
  height: 38px;
  border-radius: 3px;
  border: solid 1px #c4c4c4;
  padding: 0 12px;
  line-height: 38px;
  font-size: 13px;
  color: black;
  background: #fff;
  text-align: left;
  background-color: #ffffff;
  margin-bottom: 14px;
}
.main-slider__select + .select2-container .select2-selection__rendered {
  color: black !important;
  width: 100%;
  line-height: inherit !important;
  padding-left: 0 !important;
}
.main-slider__select + .select2-container .selection {
  display: block;
  width: 100%;
}
.main-slider__select + .select2-container .select2-selection__arrow {
  top: 50% !important;
  right: 14px;
  position: absolute;
  display: block;
  transform: translateY(-50%);
  width: 0px;
  height: 0px;
}
.main-slider__select + .select2-container .select2-selection__arrow b {
  border-color: #A01714 transparent transparent transparent;
}
.main-slider__select + .select2-container .select2-selection__placeholder {
  color: #7D7D7D !important;
}

.select2-search--dropdown {
  display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #A01714 transparent;
}

.select2-container--open .select2-dropdown--below {
  border: solid 1px #c4c4c4;
  margin-top: 5px;
  padding: 5px 0;
}

.select2-dropdown {
  border: none;
  font-size: 13px;
}
.select2-dropdown .select2-results__option {
  padding: 4px 12px;
}
.select2-dropdown .select2-results__option[aria-selected=true] {
  background-color: #a01714;
  color: #fff;
}
.select2-dropdown .select2-results__option--highlighted[aria-selected] {
  background-color: #656565;
  color: #fff;
}

/* xs+sm+md */
@media screen and (max-width: 1199px) {
  .header-logo {
    margin-right: 10px;
  }
  .header-logo:hover, .header-logo:active, .header-logo:focus {
    margin-right: 10px;
  }

  .header-nav__link {
    font-size: 13px;
  }
  .header-nav__link:hover, .header-nav__link:active, .header-nav__link:focus {
    font-size: 13px;
  }

  .header-nav__item {
    margin-right: 20px;
  }

  .header-nav__list {
    margin-right: -20px;
  }

  .header-nav__burger-text {
    font-size: 13px;
  }

  .header-info__tel {
    font-size: 18px;
  }

  .header-info {
    min-width: 150px;
    padding-left: 14px;
  }

  .header-burmenu {
    padding-top: 40px;
  }

  .header-burmenu__title {
    font-size: 14px;
  }

  .header-burmenu__item-item {
    font-size: 12px;
  }

  .header-burmenu__col-1,
  .header-burmenu__col-2 {
    max-width: 200px;
  }

  .header-burmenu__col-3 {
    max-width: 230px;
  }

  .header-burmenu__col-4 {
    max-width: 250px;
  }

  .header-burmenu__close {
    top: -27px;
  }
  .header-burmenu__close:hover, .header-burmenu__close:active, .header-burmenu__close:focus {
    top: -27px;
  }

  .header-burmenu__cols {
    margin-bottom: 20px;
  }

  .clients-right {
    padding: 43px 22px 50px 22px;
  }

  .clients-right__title {
    font-size: 22px;
  }

  .footer-nav__list {
    margin-right: -15px;
  }

  .footer-nav__item {
    margin-right: 15px;
  }

  .footer-logo {
    max-width: 205px;
    margin-right: 10px;
  }
  .footer-logo:hover, .footer-logo:active, .footer-logo:focus {
    max-width: 205px;
    margin-right: 10px;
  }

  .footer-nav__link {
    font-size: 12px;
  }
  .footer-nav__link:hover, .footer-nav__link:active, .footer-nav__link:focus {
    font-size: 12px;
  }
}
/* xs+sm */
@media screen and (max-width: 991px) {
  .header-nav__burger {
    width: auto;
  }
  .header-nav__burger:hover, .header-nav__burger:active, .header-nav__burger:focus {
    width: auto;
  }

  .header-nav__burger-items {
    margin-right: 0;
  }

  .header-logo__img {
    max-width: 68px;
    margin-top: -3px;
  }

  .header {
    padding: 1px 0;
  }

  .header-logo {
    margin-right: 0;
  }
  .header-logo:hover, .header-logo:active, .header-logo:focus {
    margin-right: 0;
  }

  .header-info__tel {
    font-size: 16px;
  }

  .header-info {
    min-width: 135px;
    margin-top: 10px;
    padding-top: 0;
  }

  .header-search {
    height: 52px;
    padding: 14px 0;
  }

  .header-search__exit-btn {
    font-size: 18px;
  }
  .header-search__exit-btn:hover, .header-search__exit-btn:active, .header-search__exit-btn:focus {
    font-size: 18px;
  }

  .header-search__search-ico {
    font-size: 18px;
  }

  .header-search__input {
    font-size: 16px;
  }

  .header-burmenu {
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: 0;
  }
  .header-burmenu .container {
    height: 100%;
  }

  .header-burmenu__wrap {
    padding: 38px 15px 17px 15px;
    overflow-y: auto;
    max-height: 100%;
    margin-bottom: 20px;
    margin-right: -15px;
    margin-left: -15px;
  }

  .header-xsmenu__item {
    margin-bottom: 23px;
    position: relative;
  }
  .header-xsmenu__item:last-child {
    margin-bottom: 0;
  }

  .header-xsmenu__link {
    display: block;
    padding-left: 19px;
    font-size: 16px;
    font-family: 'FiraSans-Medium';
    text-transform: uppercase;
    transition: all 0.3s;
  }
  .header-xsmenu__link i {
    font-size: 22px;
    margin-right: 7px;
    position: absolute;
    left: 0;
    top: -3px;
  }
  .header-xsmenu__link[aria-expanded="true"] {
    color: #a01714;
  }
  .header-xsmenu__link[aria-expanded="true"] i {
    transform: rotate(90deg);
  }
  .header-xsmenu__link:hover, .header-xsmenu__link:active, .header-xsmenu__link:focus {
    display: block;
    padding-left: 19px;
    font-size: 16px;
    font-family: 'FiraSans-Medium';
    text-transform: uppercase;
    transition: all 0.3s;
  }
  .header-xsmenu__link:hover i, .header-xsmenu__link:active i, .header-xsmenu__link:focus i {
    font-size: 22px;
    margin-right: 7px;
    position: absolute;
    left: 0;
    top: -3px;
  }
  .header-xsmenu__link:hover[aria-expanded="true"], .header-xsmenu__link:active[aria-expanded="true"], .header-xsmenu__link:focus[aria-expanded="true"] {
    color: #a01714;
  }
  .header-xsmenu__link:hover[aria-expanded="true"] i, .header-xsmenu__link:active[aria-expanded="true"] i, .header-xsmenu__link:focus[aria-expanded="true"] i {
    transform: rotate(90deg);
  }

  .xsmenu__inner-list {
    padding-top: 5px;
    padding-left: 20px;
  }

  .xsmenu__inner-item {
    font-size: 14px;
    line-height: 26px;
  }

  .xsmenu__inner-link {
    display: block;
  }
  .xsmenu__inner-link:hover, .xsmenu__inner-link:active, .xsmenu__inner-link:focus {
    display: block;
  }

  .header-burmenu__close {
    font-size: 18px;
    top: 10px;
    right: 15px;
  }
  .header-burmenu__close:hover, .header-burmenu__close:active, .header-burmenu__close:focus {
    font-size: 18px;
    top: 10px;
    right: 15px;
  }

  .header-xsmenu__copy {
    font-size: 12px;
    padding-left: 20px;
  }

  .header-xsmenu__list {
    margin-bottom: 20px;
  }

  .owl-top-main__item {
    padding-top: 60px;
  }

  .owl-top-main__text {
    max-width: 430px;
    font-size: 20px;
    line-height: 30px;
  }

  .main-about__list {
    margin-right: -15px;
  }

  .main-about__item {
    min-height: 70px;
    padding: 5px;
    font-size: 12px;
    line-height: 18px;
    margin-right: 15px;
  }

  .main-about__left {
    max-width: 500px;
    margin-right: 30px;
  }

  .owl-clients {
    padding: 0 20px;
  }

  .experts__list {
    flex-wrap: wrap;
  }

  .experts__item {
    margin-bottom: 30px;
  }

  .footer__left-top {
    padding-bottom: 25px;
  }

  .footer-nav {
    padding-top: 10px;
  }

  .main-about__bot-img-wrap {
    margin-left: 30px;
  }
}
/* xs */
@media screen and (max-width: 767px) {
  .header-nav__search {
    display: inline-block;
    font-size: 18px;
  }
  .header-nav__search:hover, .header-nav__search:active, .header-nav__search:focus {
    display: inline-block;
    font-size: 18px;
  }

  .header-nav__burger {
    margin-right: 15px;
    margin-left: -5px;
  }
  .header-nav__burger:hover, .header-nav__burger:active, .header-nav__burger:focus {
    margin-right: 15px;
    margin-left: -5px;
  }

  .header-nav__search.visible-xs {
    display: inline-block !important;
    vertical-align: middle;
  }
  .header-nav__search.visible-xs:hover, .header-nav__search.visible-xs:active, .header-nav__search.visible-xs:focus {
    display: inline-block !important;
    vertical-align: middle;
  }

  .header-info {
    min-width: 120px;
    margin-right: -5px;
    padding-top: 2px;
  }

  .header-info__tel {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .header-search__input {
    font-size: 14px;
  }

  .header-xsmenu__request-btn {
    font-size: 16px;
    font-family: 'FiraSans-Medium';
    position: absolute;
    left: 15px;
    top: 20px;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .header-xsmenu__request-btn:hover, .header-xsmenu__request-btn:active, .header-xsmenu__request-btn:focus {
    font-size: 16px;
    font-family: 'FiraSans-Medium';
    position: absolute;
    left: 15px;
    top: 20px;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .header-burmenu__wrap {
    padding: 60px 15px 17px 15px;
  }

  .header-burmenu__close {
    top: 15px;
  }
  .header-burmenu__close:hover, .header-burmenu__close:active, .header-burmenu__close:focus {
    top: 15px;
  }

  .owl-top-main__item {
    min-height: 530px;
    padding-top: 45px;
    padding-bottom: 150px;
  }

  .owl-top-main__text {
    line-height: 28px;
    margin-bottom: 22px;
  }

  .main-slider__xs-btn-wrap {
    position: absolute;
    bottom: 0;
    height: 90px;
    padding: 22px 0;
    text-align: center;
    z-index: 1;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
  }

  .main-slider__xs-btn {
    display: block;
    border: none;
    margin: 0 auto;
    outline: none;
    height: 45px;
    width: 100%;
    color: #fff;
    max-width: 265px;
    font-size: 18px;
    font-family: 'FiraSans-Medium';
    line-height: 45px;
    border-radius: 3px;
    background-color: #a01714;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }
  .main-slider__xs-btn:hover, .main-slider__xs-btn:active, .main-slider__xs-btn:focus {
    display: block;
    border: none;
    margin: 0 auto;
    outline: none;
    height: 45px;
    width: 100%;
    color: #fff;
    max-width: 265px;
    font-size: 18px;
    font-family: 'FiraSans-Medium';
    line-height: 45px;
    border-radius: 3px;
    background-color: #a01714;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }

  .owl-top-main .owl-dots {
    bottom: 120px;
  }

  .main-about__list {
    margin-top: 15px;
    margin-right: 0;
    align-items: center;
    flex-direction: column;
  }

  .main-about__item {
    margin-right: 0;
    margin-bottom: 10px;
    padding: 9px;
    max-width: 264px;
    font-size: 16px;
    line-height: 22px;
    min-height: initial;
  }
  .main-about__item:last-child {
    margin-bottom: 0;
  }

  .main-about__content {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 11px;
  }

  .main-about__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-about__title {
    order: 2;
    margin-bottom: 35px;
    line-height: 29px;
  }

  .main-about__tag {
    order: 1;
    align-self: flex-start;
    margin-bottom: 12px;
  }

  .main-about__bot-img-wrap {
    float: none;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .main-about__img-container {
    margin-left: auto;
    margin-right: auto;
  }

  .main-about__img-text {
    margin-left: auto;
    margin-right: auto;
  }

  .clients {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .clients-left {
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }

  .owl-clients {
    padding: 0 50px;
  }

  .owl-clients .owl-next {
    top: 40%;
    transform: translateY(-50%);
    right: 0;
  }

  .owl-clients .owl-prev {
    top: 40%;
    transform: translateY(-50%);
    left: 0;
  }

  .clients-right {
    padding: 25px;
    min-height: initial;
  }

  .clients-right__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .experts-content {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .experts__link {
    min-height: initial;
    padding-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
  }
  .experts__link:hover, .experts__link:active, .experts__link:focus {
    min-height: initial;
    padding-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
  }

  .experts__item:last-child .experts__link {
    border: none;
    padding-bottom: 0;
  }
  .experts__item:last-child .experts__link:hover, .experts__item:last-child .experts__link:active, .experts__item:last-child .experts__link:focus {
    border: none;
    padding-bottom: 0;
  }

  .footer .container {
    padding: 20px 15px;
  }

  .footer__right-top {
    padding-top: 0;
    margin-bottom: 10px;
  }

  .footer-nav {
    padding-top: 0;
  }

  .footer-nav__list {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }

  .footer-nav__item {
    margin-right: 0;
  }

  .footer-nav__link {
    font-size: 14px;
    line-height: 36px;
  }
  .footer-nav__link:hover, .footer-nav__link:active, .footer-nav__link:focus {
    font-size: 14px;
    line-height: 36px;
  }

  .footer__left-top {
    padding-bottom: 0;
  }
  .footer__left-top:before {
    display: none;
  }

  .footer__right-bot {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
  }
  .footer__right-bot:before {
    display: block;
    content: "";
    position: absolute;
    width: 140px;
    bottom: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
  }

  .modal-question__container,
  .modal-request__container {
    padding: 30px 15px 20px 15px;
  }

  .modal-question__title {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .modal-question__exit-btn {
    top: 5px;
    right: 15px;
    font-size: 20px;
  }
  .modal-question__exit-btn:hover, .modal-question__exit-btn:active, .modal-question__exit-btn:focus {
    top: 5px;
    right: 15px;
    font-size: 20px;
  }

  .modal-qusetion__inputs-wrap {
    margin-bottom: 25px;
  }

  .modal-question__sbm {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }
  .modal-question__sbm:hover, .modal-question__sbm:active, .modal-question__sbm:focus {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }

  .modal-question__file-name {
    max-width: 100px;
  }

  .modal-request__inputs-wrap {
    padding: 0;
    margin-bottom: 10px;
  }

  .modal-big-request__cols {
    margin-right: 0;
    flex-direction: column;
  }

  .modal-big-request__col {
    margin-right: 0;
    width: 100%;
  }

  .modal-big-request {
    overflow-y: auto;
  }
  .modal-big-request .modal-question__wrap {
    align-items: baseline;
    padding-top: 15%;
  }
}
.advantages__title {
  font-size: 16px;
  font-family: 'FiraSans-Medium';
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages__item {
  width: 100%;
  display: inline-block;
  max-width: 285px;
  margin-right: 40px;
  margin-bottom: 20px;
  vertical-align: top;
  min-height: 150px;
}

.advantages__img-container {
  max-width: 33px;
  margin-bottom: 15px;
  min-height: 43px;
  line-height: 43px;
}

.advantages__img {
  display: inline-block;
  vertical-align: bottom;
}

.advantages__item-title {
  font-size: 16px;
  font-family: 'FiraSans-Medium';
  margin-bottom: 10px;
  line-height: 23px;
}

.advantages__item-desc {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.advantages__img_man {
  max-width: 28px;
}

.sidebar-request {
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  padding: 33px 22px 22px 22px;
}

.sidebar-request__inputs-wrap {
  margin-bottom: 32px;
}

.sidebar-request__input {
  outline: none;
  height: 38px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #c4c4c4;
  width: 100%;
  margin-bottom: 14px;
  font-size: 13px;
  padding: 0 11px;
}
.sidebar-request__input:last-child {
  margin-bottom: 0;
}

.sidebar-request__sbm-btn {
  border: none;
  outline: none;
  height: 45px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  line-height: 45px;
  border-radius: 3px;
  background-color: #a01714;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  transition: all .3s ease-in-out;
  opacity: 1;
}
.sidebar-request__sbm-btn:hover, .sidebar-request__sbm-btn:active, .sidebar-request__sbm-btn:focus {
  border: none;
  outline: none;
  height: 45px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  line-height: 45px;
  border-radius: 3px;
  background-color: #a01714;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.sidebar-request__sbm-btn:hover {
  opacity: 0.6;
}
.sidebar-request__sbm-btn:active {
  opacity: 1;
}

/* xs+sm+md */
@media screen and (max-width: 1199px) {
  .sidebar-request__sbm-btn {
    font-size: 16px;
  }
  .sidebar-request__sbm-btn:hover, .sidebar-request__sbm-btn:active, .sidebar-request__sbm-btn:focus {
    font-size: 16px;
  }

  .sidebar-request__input {
    font-size: 12px;
  }

  .advantages__item {
    max-width: 265px;
  }
}
/* xs+sm */
@media screen and (max-width: 991px) {
  .advantages__item {
    max-width: 100%;
  }
}
/* xs */
.content {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  padding: 20px 40px 40px 40px;
}

.breadcrumbs-list {
  margin-bottom: 13px;
}

.breadcrumbs-item {
  display: inline-block;
  margin-right: 13px;
  position: relative;
  font-size: 14px;
  color: #a01714;
}
.breadcrumbs-item:before {
  position: absolute;
  content: "/";
  display: block;
  right: -12px;
}
.breadcrumbs-item:last-child {
  color: #c8c8c8;
}
.breadcrumbs-item:last-child:before {
  display: none;
}

.content-tag {
  display: inline-block;
  margin-bottom: 25px;
  min-width: 122px;
  height: 27px;
  padding: 6px 5px 5px 5px;
  text-align: center;
  font-size: 12px;
  font-family: 'FiraSans-Medium';
  background-color: #E9F7F6;
  color: #23b5ad;
}

.content-tag_black {
  color: black;
  background: #EEF5FC;
}

.content-tag_orange {
  color: #f6a623;
  background: #FEF6E9;
}

.breadcrumbs-link {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.breadcrumbs-link:hover {
  opacity: 0.6;
}
.breadcrumbs-link:active {
  opacity: 1;
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.article h1 {
  font-size: 24px;
  font-family: 'FiraSans-Medium';
  margin-bottom: 20px;
  max-width: 560px;
  line-height: 34px;
}
.article h2 {
  font-size: 16px;
  font-family: 'FiraSans-Medium';
  line-height: 24px;
  max-width: 470px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.article p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}
.article p a {
  display: inline-block;
  text-decoration: underline;
  color: #4990e2;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.article p a:hover, .article p a:active, .article p a:focus {
  display: inline-block;
  text-decoration: underline;
  color: #4990e2;
}
.article p a:hover {
  opacity: 0.6;
}
.article p a:active {
  opacity: 1;
}
.article p b {
  font-family: 'FiraSans-Medium';
}
.article img {
  margin-bottom: 30px;
  height: auto;
  max-width: 100%;
}

.article__info {
  font-size: 14px;
  line-height: 20px;
  color: #9a9a9a;
  margin-bottom: 30px;
}

.article__info_color-default {
  color: #000000;
}

.seminars-soon__top {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seminars-soon__title {
  font-size: 20px;
  line-height: 26px;
  font-family: 'FiraSans-Medium';
}

.seminars-soon__all-btn {
  font-size: 14px;
  color: #a01714;
  font-family: 'FiraSans-Medium';
  transition: all .3s ease-in-out;
  opacity: 1;
}
.seminars-soon__all-btn:hover, .seminars-soon__all-btn:active, .seminars-soon__all-btn:focus {
  font-size: 14px;
  color: #a01714;
  font-family: 'FiraSans-Medium';
}
.seminars-soon__all-btn:hover {
  opacity: 0.6;
}
.seminars-soon__all-btn:active {
  opacity: 1;
}

.seminars-soon__list {
  display: flex;
  flex-wrap: wrap;
}
.seminars-soon__list:before, .seminars-soon__list:after {
  display: none;
}

.seminars-soon__item {
  margin-bottom: 25px;
}

.seminars-soon__item_blue .seminars-soon__container {
  border: 1px solid #2345b5;
}

.seminars-soon__container {
  background: #fff;
  border: solid 1px #23b5ad;
  border-radius: 3px;
  padding: 13px 11px 15px 11px;
  min-height: 305px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.seminars-soon__tag {
  align-self: baseline;
  display: inline-block;
  margin-bottom: 7px;
  min-width: 122px;
  height: 27px;
  padding: 6px 5px 5px 5px;
  text-align: center;
  font-size: 12px;
  font-family: 'FiraSans-Medium';
  background-color: #E9F7F6;
  color: #23b5ad;
}

.seminars-soon__tag_blue {
  background: #E9ECF7;
  color: #2345b4;
}

.seminars-soon__desc {
  font-size: 16px;
  line-height: 22px;
  font-family: 'FiraSans-Medium';
  margin-bottom: 3px;
}

.seminars-soon__date {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0 8px 0;
  margin-bottom: 10px;
}

.seminars-soon__data-title, .seminars-soon__price-title {
  color: #979797;
  font-size: 14px;
  margin-bottom: 3px;
}

.seminars-soon__date-text {
  font-size: 16px;
  font-family: 'FiraSans-Medium';
}

.seminars-soon__price-text {
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  color: #23b5ad;
}

.seminars-soon__btn-more {
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 3px;
  background: #a01714;
  width: 100%;
  display: block;
  margin-top: auto;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.seminars-soon__btn-more:hover, .seminars-soon__btn-more:active, .seminars-soon__btn-more:focus {
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 3px;
  background: #a01714;
  width: 100%;
  display: block;
  margin-top: auto;
}
.seminars-soon__btn-more:hover {
  opacity: 0.6;
}
.seminars-soon__btn-more:active {
  opacity: 1;
}

.sidebar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sidebar-news {
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  padding: 18px 16px 23px 21px;
}

.sidebar-news__title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.sidebar-news__item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #BFBFBF;
}
.sidebar-news__item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.sidebar-news__list {
  margin-bottom: 20px;
}

.sidebar-news__link {
  transition: all .3s ease-in-out;
  opacity: 1;
  display: block;
}
.sidebar-news__link:hover {
  opacity: 0.6;
}
.sidebar-news__link:active {
  opacity: 1;
}

.sidebar-news-info {
  margin-bottom: 6px;
}

.sidebar-news-date {
  display: inline-block;
  font-size: 12px;
  font-family: 'FiraSans-Medium';
  color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}

.sidebar-news-tag {
  display: inline-block;
  font-size: 12px;
  font-family: 'FiraSans-Medium';
}

.sidebar-news_green {
  color: #23b5ad;
}

.sidebar-news_pink {
  color: #bd0fe1;
}

.sidebar-news__text {
  font-size: 13px;
  line-height: 18px;
}

.sidebar-news__all-btn {
  font-size: 16px;
  color: #a01714;
  text-decoration: underline;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.sidebar-news__all-btn:hover, .sidebar-news__all-btn:active, .sidebar-news__all-btn:focus {
  font-size: 16px;
  color: #a01714;
  text-decoration: underline;
}
.sidebar-news__all-btn:hover {
  opacity: 0.6;
}
.sidebar-news__all-btn:active {
  opacity: 1;
}

.calendar {
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  min-height: 325px;
  padding-top: 18px;
}

.calendar__title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 23px;
  margin-bottom: 30px;
}

.calendar__head {
  margin: 0 19px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  font-size: 0;
  border-bottom: 1px solid #E5E5E5;
}

.calendar__wrap {
  margin: 0 14px;
}

.calendar__table {
  width: 100%;
}
.calendar__table td {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 2px 0px;
}

.calendar__prev-btn,
.calendar__next-btn {
  display: inline-block;
  width: 10%;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.calendar__prev-btn i,
.calendar__next-btn i {
  font-size: 20px;
  color: #4990e2;
}
.calendar__prev-btn:hover,
.calendar__next-btn:hover {
  opacity: 0.6;
}
.calendar__prev-btn:active,
.calendar__next-btn:active {
  opacity: 1;
}

.calendar__prev-btn {
  text-align: left;
}

.calendar__next-btn {
  text-align: right;
}

.calendar__month {
  width: 80%;
  display: inline-block;
  text-align: center;
  font-family: 'FiraSans-Medium';
  font-size: 16px;
}

.table__link {
  display: block;
  border-radius: 50%;
  width: 77%;
  margin: 0 auto;
}

.table__link_green {
  color: #fff;
  background: #23b5ad;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.table__link_green:hover, .table__link_green:active, .table__link_green:focus {
  color: #fff;
  background: #23b5ad;
}
.table__link_green:hover {
  opacity: 0.6;
}
.table__link_green:active {
  opacity: 1;
}

.table__link_orange {
  color: #fff;
  background: #f6a623;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.table__link_orange:hover, .table__link_orange:active, .table__link_orange:focus {
  color: #fff;
  background: #f6a623;
}
.table__link_orange:hover {
  opacity: 0.6;
}
.table__link_orange:active {
  opacity: 1;
}

/* xs+sm+md */
@media screen and (max-width: 1199px) {
  .seminars-soon__desc {
    font-size: 14px;
    line-height: 20px;
  }

  .seminars-soon__data-title, .seminars-soon__price-title, .seminars-soon__price-title {
    font-size: 14px;
  }

  .calendar__title {
    font-size: 14px;
  }

  .calendar__table td {
    font-size: 16px;
    line-height: 22px;
  }

  .table__link {
    width: 90%;
    padding: 1px;
  }
  .table__link:hover, .table__link:active, .table__link:focus {
    width: 90%;
    padding: 1px;
  }

  .calendar {
    min-height: 285px;
  }
}
/* xs+sm */
@media screen and (max-width: 991px) {
  .content {
    padding: 20px 20px 40px 20px;
  }
}
/* xs */
@media screen and (max-width: 767px) {
  .calendar {
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .seminars-soon__list {
    flex-direction: column;
    align-items: center;
  }

  .seminars-soon__item {
    max-width: 260px;
  }

  .content {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }

  .sidebar-news {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
}
.article .clients-marks {
  list-style: none;
  padding-left: 0;
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap;
}
.article .clients-marks .clients-mark {
  padding-left: 0;
  width: 20%;
  display: inline-block;
  padding-right: 20px;
}

.clients-marks {
  list-style: none;
  padding-left: 0;
  margin-right: -20px;
  display: flex;
  flex-wrap: wrap;
}

.clients-mark {
  padding-left: 0;
  width: 20%;
  display: inline-block;
  padding-right: 20px;
}

/* xs */
@media screen and (max-width: 767px) {
  .article .clients-marks .clients-mark {
    width: 33.333333%;
  }

  .clients-mark {
    width: 33.333333%;
  }
}
.map-wrap {
  height: 445px;
  margin-right: -40px;
  margin-left: -40px;
  background: #c8c8c8;
}

.map {
  position: relative;
}

.map__info {
  position: absolute;
  width: 265px;
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.21);
  top: 50px;
  left: 0;
  padding: 28px 17px 33px 17px;
}

.map__info__item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E5E5E5;
}
.map__info__item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.map__info__title {
  font-size: 12px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.map__info__desc {
  font-size: 14px;
  line-height: 18px;
}

/* xs+sm+md */
/* xs+sm */
@media screen and (max-width: 991px) {
  .map-wrap {
    margin-right: -20px;
    margin-left: -20px;
  }
}
/* xs */
@media screen and (max-width: 767px) {
  .map-wrap {
    margin-right: -15px;
    margin-left: -15px;
  }

  .map__info {
    top: 100%;
    position: relative;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
p.article__date {
  font-size: 12px;
  font-family: 'FiraSans-Medium';
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-top: -20px;
}

.seealso__title {
  font-size: 16px;
  font-family: 'FiraSans-Medium';
  margin-bottom: 10px;
}

.seealso__list {
  list-style: initial;
  padding-left: 20px;
}

.seealso__item {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}

.seealso__link {
  color: #4990e2;
  text-decoration: underline;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.seealso__link:hover, .seealso__link:active, .seealso__link:focus {
  color: #4990e2;
  text-decoration: underline;
}
.seealso__link:hover {
  opacity: 0.6;
}
.seealso__link:active {
  opacity: 1;
}

.p-news {
  margin-right: -40px;
  border-bottom: 1px solid #E5E5E5;
  padding-right: 40px;
  margin-bottom: 10px;
  position: relative;
}
.p-news .experts__list {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.p-news .experts__link {
  min-height: initial;
  margin-bottom: 45px;
}
.p-news .experts__link:hover, .p-news .experts__link:active, .p-news .experts__link:focus {
  min-height: initial;
  margin-bottom: 45px;
}

.pagination__list {
  font-size: 0;
}

.pagination__item {
  min-height: 28px;
  min-width: 28px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
.pagination__item.active .pagination__link {
  border: 1px solid #a01714;
}
.pagination__item.active .pagination__link:hover, .pagination__item.active .pagination__link:active, .pagination__item.active .pagination__link:focus {
  border: 1px solid #a01714;
}

.pagination__link {
  border: 1px solid transparent;
  border-radius: 3px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 7px;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.pagination__link:hover, .pagination__link:active, .pagination__link:focus {
  border: 1px solid transparent;
  border-radius: 3px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 7px;
}
.pagination__link:hover {
  opacity: 0.6;
}
.pagination__link:active {
  opacity: 1;
}

.pagination__link_back,
.pagination__link_next {
  border: 1px solid #d8d8d8;
  display: block;
  padding: 5px 7px;
  margin: -5px -7px;
  border-radius: 3px;
}

.pagination {
  margin: 0;
  border-radius: 0;
}

.sidebar-services {
  margin-bottom: 30px;
}

.sidebar-services__item {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  min-height: 68px;
  margin-bottom: 7px;
}

.sidebar-services__link {
  display: block;
  padding: 9px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'FiraSans-Medium';
  text-align: center;
  color: #a01714;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.sidebar-services__link:hover, .sidebar-services__link:active, .sidebar-services__link:focus {
  display: block;
  padding: 9px;
  font-size: 16px;
  line-height: 22px;
  font-family: 'FiraSans-Medium';
  text-align: center;
  color: #a01714;
}
.sidebar-services__link:hover {
  opacity: 0.6;
}
.sidebar-services__link:active {
  opacity: 1;
}

.p-news__dropdown {
  right: 40px;
  width: 235px;
  height: 37px;
  font-size: 14px;
  color: #999999;
  position: absolute;
  top: -65px;
}

.p-news__dropdown-btn {
  position: relative;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  display: block;
  padding: 11px 14px;
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.p-news__dropdown-btn i {
  position: absolute;
  right: 14px;
  color: #a01714;
  font-size: 16px;
}
.p-news__dropdown-btn:hover, .p-news__dropdown-btn:active, .p-news__dropdown-btn:focus {
  position: relative;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  display: block;
  padding: 11px 14px;
  width: 100%;
  height: 100%;
}
.p-news__dropdown-btn:hover i, .p-news__dropdown-btn:active i, .p-news__dropdown-btn:focus i {
  position: absolute;
  right: 14px;
  color: #a01714;
  font-size: 16px;
}
.p-news__dropdown-btn:hover {
  opacity: 0.6;
}
.p-news__dropdown-btn:active {
  opacity: 1;
}

.p-news__dropdown-menu {
  margin: 0;
  margin-top: -3px;
  padding: 22px 16px;
  border: solid 1px #c3c3c3;
  border-radius: 3px;
  border-top: none;
  z-index: 1;
}

.p-news__dropdown-btn.open {
  z-index: 2;
}

.p-news__checkbox {
  display: none;
}

.p-news__label {
  cursor: pointer;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.p-news__label:hover {
  opacity: 0.6;
}
.p-news__label:active {
  opacity: 1;
}

.p-news__checkbox-text {
  font-size: 14px;
  line-height: 30px;
  padding-left: 32px;
  position: relative;
  color: black;
}
.p-news__checkbox-text:before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid #c3c3c3;
  margin-top: -1px;
  transition: border 0.3s;
}
.p-news__checkbox-text:after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background-color: #a01714;
  margin: -1px 5px 0 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.p-news__checkbox:checked + .p-news__checkbox-text:before {
  border-color: #a01714;
}

.p-news__checkbox:checked + .p-news__checkbox-text:after {
  opacity: 1;
}

/* xs+sm+md */
/* xs+sm */
@media screen and (max-width: 991px) {
  .p-news__dropdown {
    width: 200px;
    top: -60px;
  }
}
/* xs */
@media screen and (max-width: 767px) {
  .p-news__dropdown {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 20px;
  }

  .p-news .experts__link {
    margin-bottom: 10px;
  }
  .p-news .experts__link:hover, .p-news .experts__link:active, .p-news .experts__link:focus {
    margin-bottom: 10px;
  }
  .p-news .experts__item {
    margin-bottom: 10px;
  }
}
p.p-seminar__top-desc {
  font-size: 14px;
  font-family: 'FiraSans-Medium';
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

.p-seminar__big-green-info {
  line-height: 23px;
  font-size: 16px;
  font-family: 'FiraSans-Medium';
  text-transform: uppercase;
  color: #23b5ad;
}

p.p-seminar__top-supdesc {
  margin-bottom: 20px;
}

.p-seminar__top-wrap:before, .p-seminar__top-wrap:after {
  content: " ";
  display: table;
}
.p-seminar__top-wrap:after {
  clear: both;
}

.p-seminar__top {
  position: relative;
}

.p-seminar__card {
  border: 1px solid #23b5ad;
  background: #fff;
  padding: 20px 22px 17px 22px;
}

.p-seminar__card-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #BFBFBF;
  margin-bottom: 8px;
}
.p-seminar__card-item:last-child {
  margin-bottom: 0;
  border: none;
}

.p-seminar__card {
  float: right;
  margin-top: 7px;
  margin-left: 15px;
  max-width: 250px;
  min-height: 333px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.p-seminar__card-btn-more {
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 3px;
  background: #a01714;
  width: 100%;
  display: block;
  margin-top: auto;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.p-seminar__card-btn-more:hover, .p-seminar__card-btn-more:active, .p-seminar__card-btn-more:focus {
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 3px;
  background: #a01714;
  width: 100%;
  display: block;
  margin-top: auto;
}
.p-seminar__card-btn-more:hover {
  opacity: 0.6;
}
.p-seminar__card-btn-more:active {
  opacity: 1;
}

.p-seminar__card-item-title {
  font-size: 14px;
  color: #979797;
  margin-bottom: 3px;
}

.p-seminar__card-item-desc {
  font-size: 16px;
  font-family: 'FiraSans-Medium';
}

.p-seminar__card-item-price {
  color: #23b5ad;
}

.article ul {
  list-style: disc;
  margin-bottom: 30px;
  padding-left: 17px;
}
.article ul li {
  font-size: 16px;
  line-height: 26px;
  padding-left: 5px;
}

p.article__ul-title {
  margin-bottom: 10px;
}

.calendar__tip-small {
  border-radius: 3px;
  max-width: 250px;
  width: 100%;
  background-color: #ffffff;
  padding: 18px 11px 18px 11px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}
.calendar__tip-small .content-tag {
  align-self: baseline;
  margin-bottom: 8px;
}

.calendar__tip-small_orange {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #f6a623;
}
.calendar__tip-small_orange:before {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #f6a623;
  content: "";
  position: absolute;
  right: -8px;
  top: 15px;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}

.calendar__tip-big {
  border-radius: 3px;
  max-width: 250px;
  width: 100%;
  background-color: #ffffff;
  padding: 18px 11px 18px 11px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}
.calendar__tip-big .content-tag {
  align-self: baseline;
  margin-bottom: 8px;
}

.calendar__tip-big_blue {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #23b5ad;
  min-height: 315px;
}
.calendar__tip-big_blue:before {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #23b5ad;
  content: "";
  position: absolute;
  right: -8px;
  top: 15px;
  transform: rotate(45deg);
  border-left: none;
  border-bottom: none;
}

.calendar__tip-small-text {
  font-size: 14px;
  line-height: 20px;
  font-family: 'FiraSans-Medium';
  margin-bottom: 20px;
}

.calendar__tip-btn {
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 3px;
  background: #a01714;
  width: 100%;
  display: block;
  margin-top: auto;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.calendar__tip-btn:hover, .calendar__tip-btn:active, .calendar__tip-btn:focus {
  font-size: 18px;
  font-family: 'FiraSans-Medium';
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 3px;
  background: #a01714;
  width: 100%;
  display: block;
  margin-top: auto;
}
.calendar__tip-btn:hover {
  opacity: 0.6;
}
.calendar__tip-btn:active {
  opacity: 1;
}

/* xs+sm+md */
/* xs+sm */
@media screen and (max-width: 991px) {
  .p-seminar__card {
    position: static;
    margin-bottom: 30px;
    float: none;
    margin-left: 0;
    margin-top: 0;
    order: 2;
  }

  .p-seminar__top-wrap {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .p-seminar__top-wrap .article {
    order: 1;
  }
}
/* xs */
/* xs+sm+md */
/* xs+sm */
/* xs */
.p-vacancies__title {
  position: relative;
}

.p-vacancies__title-count {
  background: #a01714;
  width: 22px;
  height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 50%;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: 'FiraSans-Medium';
  display: inline-block;
  margin-bottom: 3px;
}

.article__info_link {
  color: black;
  font-family: 'FiraSans-Medium';
  display: inline-block;
  text-decoration: underline;
  transition: all .3s ease-in-out;
  opacity: 1;
}
.article__info_link:hover, .article__info_link:active, .article__info_link:focus {
  color: black;
  font-family: 'FiraSans-Medium';
  display: inline-block;
  text-decoration: underline;
}
.article__info_link:hover {
  opacity: 0.6;
}
.article__info_link:active {
  opacity: 1;
}

.p-vacancies .article__info {
  font-size: 16px;
  line-height: 26px;
}
.p-vacancies h2 {
  font-size: 22px;
  max-width: 100%;
}

/*# sourceMappingURL=main.css.map */
