.map-wrap {
	height: 445px;
	margin-right: -40px;
	margin-left: -40px;
	background: #c8c8c8;
}

.map {
	position: relative;
}

.map__info {
	position: absolute;
	width: 265px;
	background: #fff;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.21);
	top: 50px;
	left: 0;
	padding: 28px 17px 33px 17px;
}

.map__info__item {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E5E5E5;

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
}

.map__info__title {
	font-size: 12px;
	margin-bottom: 5px;
	color: rgba(0,0,0,0.5);
}

.map__info__desc {
	font-size: 14px;
	line-height: 18px;
}

