/* xs+sm+md */
@media screen and (max-width: 1199px) {

}

/* xs+sm */
@media screen and (max-width: 991px) {
	.map-wrap {
		margin-right: -20px;
		margin-left: -20px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.map-wrap {
		margin-right: -15px;
		margin-left: -15px;
	}

	.map__info {
		top: 100%;
		position: relative;
		margin-top: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}