.article .clients-marks {
	list-style: none;
	padding-left: 0;
	margin-right: -20px;
	display: flex;
	flex-wrap: wrap;

	.clients-mark {
		padding-left: 0;
		width: 20%;
		display: inline-block;
		padding-right: 20px;
	}
}

.clients-marks {
	list-style: none;
	padding-left: 0;
	margin-right: -20px;
	display: flex;
	flex-wrap: wrap;
}

.clients-mark {
	padding-left: 0;
	width: 20%;
	display: inline-block;
	padding-right: 20px;
}