.advantages__title {
	font-size: 16px;
	@include font(med);
	text-transform: uppercase;
	margin-bottom: 30px; 
}

.advantages__item {
	width: 100%;
	display: inline-block;
	max-width: 285px;
	margin-right: 40px;
	margin-bottom: 20px;
	vertical-align: top;
	min-height: 150px;
}

.advantages__img-container {
	max-width: 33px;
	margin-bottom: 15px;
	min-height: 43px;
	line-height: 43px;
}

.advantages__img {
	display: inline-block;
	vertical-align: bottom;
}

.advantages__item-title {
	font-size: 16px;
	@include font(med);
	margin-bottom: 10px;
	line-height: 23px;
}

.advantages__item-desc {
	font-size: 16px;
	color: rgba(0,0,0,0.5);
}

.advantages__img_man {
	max-width: 28px;
}

.sidebar-request {
	margin-bottom: 30px;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	padding: 33px 22px 22px 22px;
}

.sidebar-request__inputs-wrap {
	margin-bottom: 32px;
}

.sidebar-request__input {
	outline: none;
	height: 38px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #c4c4c4;
	width: 100%;
	margin-bottom: 14px;
	font-size: 13px;
	padding: 0 11px;

	&:last-child {
		margin-bottom: 0;
	}
}

.sidebar-request__sbm-btn {
	@include states {
		border: none;
		outline: none;
		height: 45px;
		width: 100%;
		color: #fff;
		font-size: 18px;
		font-family: 'FiraSans-Medium';
		line-height: 45px;
		border-radius: 3px;
		background-color: #a01714;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	}
	@include linksHover();
}
