/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.sidebar-request__sbm-btn {
		@include states {
			font-size: 16px;
		}
	}

	.sidebar-request__input {
		font-size: 12px;
	}	

	.advantages__item {
		max-width: 265px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.advantages__item {
		max-width: 100%;
	}
}

/* xs */
@media screen and (max-width: 767px) {
}