p.p-seminar__top-desc {
	font-size: 14px;
	@include font(med);
	color: rgba(0,0,0,0.5);
	margin-bottom: 0;
}

.p-seminar__big-green-info {
	line-height: 23px;
	font-size: 16px;
	@include font(med);
	text-transform: uppercase;
	color: #23b5ad;
}

p.p-seminar__top-supdesc {
	margin-bottom: 20px;
}

.p-seminar__top-wrap {
	// max-width: 515px;
	@include clearfix();
}

.p-seminar__top {
	position: relative;
}

.p-seminar__card {
	border: 1px solid #23b5ad;
	background: #fff;
	padding: 20px 22px 17px 22px;
}

.p-seminar__card-item {
	padding-bottom: 10px;
	border-bottom: 1px solid #BFBFBF;
	margin-bottom: 8px;

	&:last-child {
		margin-bottom: 0;
		border: none;
	}
}

.p-seminar__card {
	float: right;
	margin-top: 7px;
	margin-left: 15px;
	max-width: 250px;
	min-height: 333px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.p-seminar__card-btn-more {
	@include states {
		font-size: 18px;
		font-family: 'FiraSans-Medium';
		text-align: center;
		height: 40px;
		line-height: 40px;
		color: #fff;
		border-radius: 3px;
		background: #a01714;
		width: 100%;
		display: block;
		margin-top: auto;
	}
	@include linksHover();
}

.p-seminar__card-item-title {
	font-size: 14px;
	color: #979797;
	margin-bottom: 3px;
}

.p-seminar__card-item-desc {
	font-size: 16px;
	@include font(med);
}

.p-seminar__card-item-price {
	color: #23b5ad;
}


.article {
	ul {
		list-style: disc;
		margin-bottom: 30px;
		padding-left: 17px;

		li {
			font-size: 16px;
			line-height: 26px;
			padding-left: 5px;
		}
	}
}

p.article__ul-title {
	margin-bottom: 10px;
}

.calendar__tip-small {
	border-radius: 3px;
	max-width: 250px;
	width: 100%;
	background-color: #ffffff;
	padding: 18px 11px 18px 11px;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 250px;

	.content-tag {
		align-self: baseline;
		margin-bottom: 8px;
	}
}

.calendar__tip-small_orange {
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #f6a623;
	
	&:before {
		width: 15px;
		height: 15px;
		background: #fff;
		border: 1px solid #f6a623;
		content: "";
		position: absolute;
		right: -8px;
		top: 15px;
		transform: rotate(45deg);
		border-left: none;
		border-bottom: none;
	}
}

.calendar__tip-big {
	border-radius: 3px;
	max-width: 250px;
	width: 100%;
	background-color: #ffffff;
	padding: 18px 11px 18px 11px;
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 250px;

	.content-tag {
		align-self: baseline;
		margin-bottom: 8px;
	}
}

.calendar__tip-big_blue {
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
	border: solid 1px #23b5ad;
	min-height: 315px;
	
	&:before {
		width: 15px;
		height: 15px;
		background: #fff;
		border: 1px solid #23b5ad;
		content: "";
		position: absolute;
		right: -8px;
		top: 15px;
		transform: rotate(45deg);
		border-left: none;
		border-bottom: none;
	}
}

.calendar__tip-small-text {
	font-size: 14px;
	line-height: 20px;
	@include font(med);
	margin-bottom: 20px;
}

.calendar__tip-btn {
	@include states {
		font-size: 18px;
		font-family: 'FiraSans-Medium';
		text-align: center;
		height: 40px;
		line-height: 40px;
		color: #fff;
		border-radius: 3px;
		background: #a01714;
		width: 100%;
		display: block;
		margin-top: auto;
	}

	@include linksHover();
}