/* xs+sm+md */
@media screen and (max-width: 1199px) {
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.p-seminar__card {
		position: static;
		margin-bottom: 30px;
		float: none;
		margin-left: 0;
		margin-top: 0;
		order: 2;
	}

	.p-seminar__top-wrap {
		max-width: 100%;
		display: flex;
		flex-direction: column;

		.article {
			order: 1;
		}
	}
}

/* xs */
@media screen and (max-width: 767px) {

}