.clients-left {
	min-height: 325px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	padding: 20px 40px 15px 40px;
}

.clients-right {
	min-height: 325px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	padding: 63px 22px 50px 22px;
}

.owl-clients__clients-big-img-container {
	margin-bottom: 10px;
	border: 1px solid #D3D3D3;
}

.owl-clients img.owl-clients__clients-sm-img {
	width: 75%;
	margin: 0 auto;
}

.owl-clients__clients-sm-img-container{
	min-height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.clients-title {
	font-size: 20px;
	@include font(med);
	margin-bottom: 24px;
}

.owl-clients {
	padding: 0 22px;

	.owl-prev {
		position: absolute;
		top: 62px;
		left: -20px;
		color: transparent;
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 0;
		@include linksHover();

		&:before {
			content: "\f100";
			font-size: 36px;
			color: #a01714;
		}
	} 

	.owl-next {
		position: absolute;
		top: 62px;
		right: -20px;
		color: transparent;
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 0;
		@include linksHover();

		&:before {
			content: "\f101";
			font-size: 36px;
			color: #a01714;
		}
	}

	.owl-prev,
	.owl-next {
		&.disabled:before {
			color: rgba(0,0,0,0.2);
		}
	}
}

.clients {
	margin-bottom: 30px;
}

.clients-right__title {
	font-size: 24px;
	line-height: 30px;
	@include font(med);
	margin-bottom: 37px;
}

.clients-right__btn {
	@include states {
		width: 100%;
		display: block;
		text-align: center;
	}
	@include linksHover();
	@extend .main-slider__subm-btn;
}