.experts {
	margin-bottom: 30px;
}

.experts-content {
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	padding: 20px 40px 15px 40px;
}

.experts__title {
	font-size: 20px;
	@include font(med);
}

.experts__top {
	margin-bottom: 25px;
	display: flex;
	justify-content: space-between;
}

.experts__btn {
	@include states {
		font-size: 14px;
		color: #a01714;
		@include font(med);
	}
	@include linksHover();
}

.experts__list {
	display: flex;

	&:before,&:after{
		display: none;
	}

	justify-content: space-between;
}

.experts__link {
	display: block;
	@include linksHover();
	min-height: 250px;
}

.experts__img-container {
	margin-bottom: 10px;
}

.experts__item-info {
	margin-bottom: 6px;
}

.experts__item-date {
	display: inline-block;
	font-size: 12px;
	@include font(med);
	color: rgba(0,0,0,0.5);
	margin-right: 10px;
}

.experts__item-tag {
	display: inline-block;
	font-size: 12px;
	@include font(med);
}

.experts__item-tag_green {
	color: #23b5ad;
}

.experts__item-tag_pink {
	color: #bd0fe1;
}

.experts__item-tag_orange {
	color: #f6a623;
}

.experts__item-tag_blue {
	color: #4990e2;
}

.experts__item-text {
	font-size: 13px;
	line-height: 18px;
}