.footer {
	background-color: #ffffff;
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.14);
	.container {
		padding: 15px 45px 30px 45px;
	}
}

.footer-logo {
	max-width: 225px;
	display: inline-block;
	margin-right: 40px;
	margin-left: -10px;
}

.footer-nav {
	display: inline-block;
}

.footer-nav__list {
	margin-right: -30px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.footer-nav__item {
	margin-right: 30px;
}

.footer-nav__link {
	@include states {
		display: block;
		font-size: 14px;
		text-transform: uppercase;
		@include font(med);
	}
	@include linksHover();
}

.footer-logo__img{
	max-width: inherit;
}

.footer__left-top {
	padding-bottom: 32px;
	position: relative;
	margin-bottom: 15px;

	&:before {
		display: block;
		content: "";
		position: absolute;
		width: 140px;
		bottom: 0;
		height: 1px;
		background: rgba(0, 0, 0, 0.3);
	}
}

.footer__copy {
	font-size: 10px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.5);
}

.footer__info-wrap {
	display: flex;
}

.footer__info-title {
	margin-right: 9px;
	font-size: 14px;
	color: rgba(0,0,0,0.3);
}

.footer__info-text {
	font-size: 14px;
	letter-spacing: 0.2px; 
}

.footer__info-wrap {
	margin-bottom: 11px;

	&:last-child {
		margin-bottom: 0;
	}
}

.footer__right-top {
	margin-bottom: 35px;
	padding-top: 20px;
}

.footer__lang-title {
	font-size: 12px;
}

.footer__lang-item {
	font-size: 16px;
	@include font(med);
	margin-right: 10px;
	display: inline-block;
	position: relative;
	color: #a01714;
		
	&.active {
		color: #d2d2d2;
	}

	&:before {
		display: block;
		content: "/";
		position: absolute;
		right: -11px;
		color: #a01714;
	}

	&:last-child {
		margin-right: 0;

		&:before {
			display: none;
		}
	}
}

.footer__lang-link {
	display: block;
	@include linksHover();
}