.header {
	padding: 12px 0;
	font-size: 0;
	position: relative;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.header-logo {
	@include states {
		vertical-align: middle;
		display: inline-block;
		margin-right: 40px;
	}
}

.header-logo__img {
	max-width: 223px;
	width: 100%;
	margin-left: -10px;
}

.header-nav {
	vertical-align: middle;
	display: inline-block;
	padding: 10px 0;
}

.header-nav__burger {
	@include states {
		display: inline-block;
		width: 110px;
		height: 43px;
		border-radius: 3px;
		border: solid 1px #c8c8c8;
		margin-right: 20px;
		padding: 12px; 
	}

	@include linksHover();
}

.header-nav__burger-items {
	display: inline-block;
	margin-right: 9px;
	vertical-align: middle;
}

.header-nav__burger-item {
	position: relative;
	background-color: black;
	display: block;
	width: 32px;
	height: 4px;
	margin-bottom: 4px;
	margin-right: auto;
	margin-left: auto;

	&:last-child {
		margin-bottom: 0;
	}
}

.header-nav__burger-text {
	font-size: 14px;
	vertical-align: middle;
	display: inline-block;
	text-transform: uppercase;
	@include font(med);
}

.header-logo__text {
	font-size: 0;
	text-indent: -99999px;
}

.header-nav__list {
	display: inline-block;
	margin-right: -33px;
	vertical-align: middle;
}

.header-nav__item {
	display: inline-block;
	margin-right: 33px;
	vertical-align: middle;

	&:last-child {
		margin-right: 0;
	}
}

.header-nav__link {
	@include states {
		display: block;
		font-size: 14px;
		text-transform: uppercase;
		@include font(med);
	}

	@include linksHover();
}

.header-info {
	text-align: left;
    padding-left: 24px;
	min-width: 174px;
	border-left: 1px solid #EAEAEA;
	display: inline-block;
	margin-left: auto;
	vertical-align: middle;
	float: right;
	padding-top: 7px;
}

.header-info__tel {
	font-size: 20px;
	@include font(med);
	color: #a01714;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.header-nav__search {
	@include states {
		font-size: 18px;
	}
}

.header-search {
	background: #fff;
	display: none;
	top: 100%;
	position: absolute;
	width: 100%;
	height: 72px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11),
	inset 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	padding: 24px 0;
	z-index: 2;
}

.header-search__input {
	font-size: 18px;
	height: 25px;
	width: 100%;
	outline: none;
	border: none;
}

.header-search__search-ico {
	font-size: 24px;
	opacity: 0.1;
	margin-right: 14px;
	padding-bottom: 4px;
}

.header-search__form {
	display: inline-block;
	width: 100%;
	margin-right: 35px;
}

.header-search__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-search__exit-btn {
	@include states {
		font-size: 24px;
		color: #787373;
	}
	@include linksHover();
}

.header-burmenu {
	background: #fff;
	display: none;
	top: 100%;
	position: absolute;
	width: 100%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11),
	inset 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	padding: 60px 0 40px 0;
	z-index: 2;
}

.header-burmenu__cols {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header-burmenu__col-1 {
	max-width: 200px;
}

.header-burmenu__col-2 {
	max-width: 220px;
}

.header-burmenu__col-3 {
	max-width: 265px;
}

.header-burmenu__col-4 {
	max-width: 280px;
}

.header-burmenu__item {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

.header-burmenu__title {
	@include font(bold);
	text-transform: uppercase;
	position: relative;
	margin-bottom: 15px;
	font-size: 16px;
	padding-bottom: 13px;

	&:before {
		display: block;
		content: "";
		position: absolute;
		bottom: 0;
		height: 1px;
		width: 60px;
		left: 0;
		background: #7F7F7F; 
	}
}

.header-burmenu__item-item {
	margin-bottom: 10px;
	font-size: 14px;

	&:last-child {
		margin-bottom: 0;
	}
}

.header-burmenu__item-link {
	@include linksHover();
}

.header-burmenu__copy {
	font-size: 12px;
}

.header-burmenu__close {
	@include states {
		position: absolute;
		right: 15px;
		top: -45px;
		font-size: 14px;
	}
	@include linksHover();
}

.header-burmenu .container {
	position: relative;
}

body {
	table-layout: fixed;
}