.main-about {
	position: relative;
	z-index: 1;
	margin-bottom: 30px;
}

.main-about__list {
	display: flex;
	margin-right: -30px;
	margin-top: -20px;
	margin-bottom: 30px;
}

.main-about__item {
	min-height: 88px;
	background: #fff;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	padding: 10px 15px 10px 15px;
	font-size: 16px;
	line-height: 22px;
	@include font(med);
	text-align: center;
	margin-right: 30px;
	color: #a01714;
}

.main-about__link {
	@include linksHover();
}

.main-about__content {
	background: #fff;
	padding: 30px 40px 40px 40px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.main-about__top {
	display: flex;
	justify-content: space-between;
}

// .main-about__left {
// 	max-width: 732px;
// }

.main-about__title {
	max-width: 390px;
	font-size: 20px;
	@include font(med);
	margin-bottom: 24px;
}

.main-about__text {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 15px;

	p {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.main-about__bot-img-wrap {
	float: right;
	margin-left: 70px;
}

.main-about__tag {
	align-self: flex-end;
	margin-bottom: 49px;
	min-width: 117px;
	height: 27px;
	padding: 6px 5px 5px 5px;
	text-align: center;
	font-size: 12px;
	@include font(med);
	background-color: #EEF5FC;
}

.main-about__img-container {
	max-width: 260px;
	margin-bottom: 23px;
}

.main-about__img-text {
	max-width: 260px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	@include font(med);
	color: rgba(0,0,0,0.2);
}

.main-about__next-btn {
	@include states {
		font-size: 14px;
		color: #a01714;
		text-decoration: underline;
		@include font(med);
	}
	@include linksHover();
}