.modal-question__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.modal-question__dialog {
	position: relative;
	pointer-events: auto;
	width: 575px;
	max-width: 90%;
}

.modal-question__container {
	background-color: #f7f7f7;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	padding: 60px 75px 50px 75px;
}

.modal-question__title {
	font-size: 20px;
	line-height: 26px;
	@include font(bold);
	text-align: center;
	margin-bottom: 35px;
}

.modal-qusetion__inputs-wrap {
	margin-bottom: 38px;
}

.modal-question__input {
	outline: none;
	height: 40px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #c4c4c4;
	width: 100%;
	padding: 0 11px;
	font-size: 13px;
	margin-bottom: 14px;
}

.modal-question__textarea {
	outline: none;
	height: 97px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #c4c4c4;
	width: 100%;
	padding: 12px 11px;
	font-size: 13px;
	margin-bottom: 14px;
	resize: none;
}

.modal-question__sbm {
	@include states {
		display: block;
		width: 100%;
		max-width: 265px;
		margin: 0 auto;
		text-align: center;
		height: 45px;
		border-radius: 3px;
		color: #fff;
		font-size: 18px;
		background: #a01714;
		@include font(med);
		outline: none;
		border: none;
		line-height: 45px;
	}
	@include linksHover();
}

.modal-question__file {
	display: none !important;
}

.modal-question__file-label {
	display: inline-block;
	margin-right: 11px;
	height: 28px;
	border-radius: 3px;
	border: solid 1px #000000;
	font-size: 12px;
	width: 118px;
	text-align: center;
	cursor: pointer;
	line-height: 26px;
	vertical-align: middle;
	@include linksHover();
}


.modal-question__file-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
	max-width: 70%;
}

.modal-question__file-wrap {
	white-space: nowrap;
}

.modal-question__exit-btn {
	@include states {
		position: absolute;
		top: 12px;
		right: 22px;
		font-size: 24px;
		color: #CFCDCD;
	}

	@include linksHover();
}