.modal-request__dialog {
	position: relative;
	pointer-events: auto;
	width: 685px;
	max-width: 90%;

	.modal-question__textarea {
		height: 78px;
	}
}

.modal-request__container {
	background-color: #f7f7f7;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	padding: 45px 112px 37px 112px;
}

.modal-request__inputs-wrap {
	margin-bottom: 25px;
	padding: 0 18px;
}