.modal-big-request__dialog {
	position: relative;
	pointer-events: auto;
	width: 685px;
	max-width: 90%;

	.modal-question__textarea {
		height: 94px;
	}
}

.modal-big-request__container {
	background-color: #f7f7f7;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
	padding: 60px 35px 50px 35px;
}

.modal-big-request__col {
	width: 50%;
	margin-right: 15px;
}

.modal-big-request___inputs-wrap {
	margin-bottom: 38px;
}

.modal-big-request__cols {
	display: flex;
	margin-right: -15px;
}