.owl-top-main__item {
	min-height: 455px;
	padding-top: 72px;
}

.owl-top-main__item-container {
	position: relative;
}

.owl-top-main__text {
	max-width: 500px;
	width: 100%;
	font-size: 26px;
	line-height: 34px;
	@include font(med);
	margin-bottom: 38px;
	color: #fff;
}

.owl-top-main__btn {
	@include states {
		display: inline-block;
		width: 220px;
		height: 45px;
		line-height: 43px;
		text-align: center;
		font-size: 18px;
		@include font(med);
		color: #fff;
		border-radius: 3px;
		border: 1px solid #fff;
	}
	@include linksHover();
}

.main-slider {
	width: 100%;
}


.owl-top-main {
	.owl-dots {
		position: absolute;
		text-align: center;
		bottom: 60px;
		width: 100%;
	}

	.owl-dot {
		width: 12px;
		height: 12px;
		display: inline-block;
		border: 1px solid #fff;
		border-radius: 50%;
		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}

		&.active {
			background: #fff;
		}
	}
}

.main-slider {
	position: relative;
}

.main-slider__inputs-wrap {
	margin-bottom: 32px;
}

.main-slider__form-container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
}

.main-slider__form {
	position: absolute;
	top: 40px;
	z-index: 1;
	right: 15px;
	width: 265px;
	padding: 33px 23px 22px 23px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

.main-slider__input {
	font-size: 13px;
	padding: 0 12px;
	height: 38px;
	width: 100%;
	border: solid 1px #c4c4c4;
	border-radius: 3px;
	background-color: #ffffff;
	outline: none;
	margin-bottom: 14px;

	&:last-child {
		margin-bottom: 0;
	}
}

.main-slider__subm-btn {
	@include states {
		border: none;
		outline: none;
		height: 45px;
		width: 100%;
		color: #fff;
		font-size: 18px;
		@include font(med);
		line-height: 45px;
		border-radius: 3px;
		background-color: #a01714;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	}
	@include linksHover();
}

.owl-top-main__item-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-size: cover;
	background-position: 50% 50%;

	&:before {
		width: 100%;
		height: 100%;
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.5);
	}
}

.main-slider__select + .select2-container {
	outline: none;
	display: block;
	width: 100% !important;

	.select2-selection {
		outline: 1px solid transparent;
		width: 100%;
		height: 38px;
		border-radius: 3px;
		border: solid 1px #c4c4c4;
		padding: 0 12px;
		line-height: 38px;
		font-size: 13px;
		color: black;
		background: #fff;
		text-align: left;
		background-color: #ffffff;
		margin-bottom: 14px;
	}

	.select2-selection__rendered {
		color: black !important;
		width: 100%;
		line-height: inherit !important;
		padding-left: 0 !important;
	}

	.selection {
		display: block;
		width: 100%;
	}

	.select2-selection__arrow {
		top: 50% !important;
		right: 14px;
		position: absolute;
		display: block;
		transform: translateY(-50%);
		width: 0px;
		height: 0px;

		b {
			border-color: #A01714 transparent transparent transparent;
		}
	}

	.select2-selection__placeholder {
		color: #7D7D7D !important;
	}
}

.select2-search--dropdown {
	display: none;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #A01714 transparent;
}

.select2-container--open .select2-dropdown--below {
	border: solid 1px #c4c4c4;
	margin-top: 5px;
	padding: 5px 0;
}

//дропдаун
.select2-dropdown {
	border: none;
	font-size: 13px;

  //лишки
  .select2-results__option {
  	padding: 4px 12px;
  }

  //выбранные
  .select2-results__option[aria-selected=true] {
  	background-color: #a01714;
  	color: #fff;
  }

  //ховеры
  .select2-results__option--highlighted[aria-selected] {
  	background-color: #656565;
  	color: #fff;
  }
}