/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.header-logo {
		@include states {
			margin-right: 10px;
		}
	}

	.header-nav__link {
		@include states {
			font-size: 13px;
		}
	}

	.header-nav__item {
		margin-right: 20px;
	}

	.header-nav__list {
		margin-right: -20px;
	}

	.header-nav__burger-text {
		font-size: 13px;
	}	

	.header-info__tel {
		font-size: 18px;
	}

	.header-info {
		min-width: 150px;
		padding-left: 14px;
	}

	.header-burmenu {
		padding-top: 40px;
	}

	.header-burmenu__title {
		font-size: 14px;
	}

	.header-burmenu__item-item {
		font-size: 12px;
	}

	.header-burmenu__col-1,
	.header-burmenu__col-2 {
		max-width: 200px;
	}

	.header-burmenu__col-3 {
		max-width: 230px;
	}

	.header-burmenu__col-4 {
		max-width: 250px;
	}

	.header-burmenu__close {
		@include states {
			top: -27px;
		}
	}

	.header-burmenu__cols {
		margin-bottom: 20px;
	}

	.clients-right {
		padding: 43px 22px 50px 22px;
	}

	.clients-right__title {
		font-size: 22px;
	}

	.footer-nav__list {
		margin-right: -15px;
	}

	.footer-nav__item {
		margin-right: 15px;
	}

	.footer-logo {
		@include states {
			max-width: 205px;
			margin-right: 10px;
		}
	}

	.footer-nav__link {
		@include states {
			font-size: 12px;
		}
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.header-nav__burger {
		@include states {
			width: auto;
		}
	}

	.header-nav__burger-items {
		margin-right: 0;
	}

	.header-logo__img {
		max-width: 68px;
		margin-top: -3px;
	}

	.header {
		padding: 1px 0;
	}

	.header-logo {
		@include states {
			margin-right: 0;
		}
	}

	.header-info__tel {
		font-size: 16px;
	}

	.header-info {
		min-width: 135px;
		margin-top: 10px;
		padding-top: 0;
	}

	.header-search {
		height: 52px;
		padding: 14px 0;
	}

	.header-search__exit-btn {
		@include states {
			font-size: 18px;
		}
	}

	.header-search__search-ico {
		font-size: 18px;
	}

	.header-search__input {
		font-size: 16px;
	}

	.header-burmenu {
		padding: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		background: #fff;
		top: 0;
		left: 0;

		.container {
			height: 100%;
		}
	}

	.header-burmenu__wrap {
		padding: 38px 15px 17px 15px;
		overflow-y: auto;
		max-height: 100%;
		margin-bottom: 20px;
		margin-right: -15px;
		margin-left: -15px;
	}

	.header-xsmenu__item {
		margin-bottom: 23px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.header-xsmenu__link {
		@include states {
			display: block;
			padding-left: 19px;
			font-size: 16px;
			@include font(med);
			text-transform: uppercase;
			transition: all 0.3s;

			i {
				font-size: 22px;
				margin-right: 7px;
				position: absolute;
				left: 0;
				top: -3px
			}

			&[aria-expanded="true"] {
				color: #a01714;

				i {
					transform: rotate(90deg);
				}
			}
		}
	}

	.xsmenu__inner-list {
		padding-top: 5px;
		padding-left: 20px;
	}

	.xsmenu__inner-item {
		font-size: 14px;
		line-height: 26px;
	}

	.xsmenu__inner-link {
		@include states {
			display: block;
		}
	}

	.header-burmenu__close {
		@include states {
			font-size: 18px;
			top: 10px;
			right: 15px;
		}
	}

	.header-xsmenu__copy {
		font-size: 12px;
		padding-left: 20px;
	}

	.header-xsmenu__list {
		margin-bottom: 20px;
	}

	.owl-top-main__item {
		padding-top: 60px;
	}

	.owl-top-main__text {
		max-width: 430px;
		font-size: 20px;
		line-height: 30px;
	}	

	.main-about__list {
		margin-right: -15px;
	}

	.main-about__item {
		min-height: 70px;
		padding: 5px;
		font-size: 12px;
		line-height: 18px;
		margin-right: 15px;
	}

	.main-about__left {
		max-width: 500px;
		margin-right: 30px;
	}

	.owl-clients {
		padding: 0 20px;
	}

	.experts__list {
		flex-wrap: wrap;
	}

	.experts__item {
		margin-bottom: 30px;
	}

	.footer__left-top {
		padding-bottom: 25px;
	}

	.footer-nav {
		padding-top: 10px;
	}

	.main-about__bot-img-wrap {
		margin-left: 30px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.header-nav__search {
		@include states {
			display: inline-block;
			font-size: 18px;
		}
	}

	.header-nav__burger {
		@include states {
			margin-right: 15px;
			margin-left: -5px;
		}
	}

	.header-nav__search.visible-xs {
		@include states {
			display: inline-block !important;
			vertical-align: middle;
		}
	}

	.header-info {
		min-width: 120px;	
		margin-right: -5px;
		padding-top: 2px;
	}

	.header-info__tel {
		font-size: 15px;
		margin-bottom: 5px;
	}

	.header-search__input {
		font-size: 14px;
	}

	.header-xsmenu__request-btn {
		@include states {
			font-size: 16px;
			@include font(med);
			position: absolute;
			left: 15px;
			top: 20px;
			text-transform: uppercase;
			text-decoration: underline;
		}
	}

	.header-burmenu__wrap {
		padding: 60px 15px 17px 15px;
	}

	.header-burmenu__close {
		@include states {
			top: 15px;
		}
	}

	.owl-top-main__item {
		min-height: 530px;
		padding-top: 45px;
		padding-bottom: 150px;
	}

	.owl-top-main__text {
		line-height: 28px;
		margin-bottom: 22px;
	}

	.main-slider__xs-btn-wrap {
		position: absolute;
		bottom: 0;
		height: 90px;
		padding: 22px 0;
		text-align: center;
		z-index: 1;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.4);
	}

	.main-slider__xs-btn {
		@include states {
			display: block;
			border: none;
			margin: 0 auto;
			outline: none;
			height: 45px;
			width: 100%;
			color: #fff;
			max-width: 265px;
			font-size: 18px;
			font-family: 'FiraSans-Medium';
			line-height: 45px;
			border-radius: 3px;
			background-color: #a01714;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
		}
	}

	.owl-top-main .owl-dots {
		bottom: 120px;
	}

	.main-about__list {
		margin-top: 15px;
		margin-right: 0;
		align-items: center;
		flex-direction: column;
	}

	.main-about__item {
		margin-right: 0;
		margin-bottom: 10px;
		padding: 9px;
		max-width: 264px;
		font-size: 16px;
		line-height: 22px;
		min-height: initial;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.main-about__content {
		margin-right: -15px;
		margin-left: -15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 11px;
	}

	.main-about__top {
		flex-direction: column;
		align-items: flex-start;
	}

	.main-about__title {
		order: 2;
		margin-bottom: 35px;
		line-height: 29px;
	}

	.main-about__tag {
		order: 1;
		align-self: flex-start;
		margin-bottom: 12px;
	}	

	.main-about__bot-img-wrap {
		float: none;
		margin-left: 0;
		margin-bottom: 20px;
	}

	.main-about__img-container {
		margin-left: auto;
		margin-right: auto;
	}

	.main-about__img-text {
		margin-left: auto;
		margin-right: auto;
	}

	.clients {
		margin-right: -15px;
		margin-left: -15px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.clients-left {
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: -15px;
		padding-top: 20px;
		padding-bottom: 25px;
		margin-bottom: 30px;
	}

	.owl-clients {
		padding: 0 50px;
	}

	.owl-clients .owl-next {
		top: 40%;
		transform: translateY(-50%);
		right: 0;
	}

	.owl-clients .owl-prev {
		top: 40%;
		transform: translateY(-50%);
		left: 0;
	}

	.clients-right {
		padding: 25px;
		min-height: initial;
	}

	.clients-right__title {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 20px;
	}

	.experts-content {
		margin-right: -15px;
		margin-left: -15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.experts__link {
		@include states {
			min-height: initial;
			padding-bottom: 20px;
			border-bottom: 1px solid rgba(216, 216, 216, 1);
		}
	}

	.experts__item {
		&:last-child {
			.experts__link {
				@include states {
					border: none;
					padding-bottom: 0;
				}
			}
		}
	}

	.footer .container {
		padding: 20px 15px;
	}

	.footer__right-top {
		padding-top: 0;
		margin-bottom: 10px;
	}

	.footer-nav {
		padding-top: 0;
	}

	.footer-nav__list {
		flex-direction: column;
		align-items: flex-start;
		margin-right: 0;
	}

	.footer-nav__item {
		margin-right: 0;
	}

	.footer-nav__link {
		@include states {
			font-size: 14px;
			line-height: 36px;
		}
	}

	.footer__left-top {
		padding-bottom: 0;

		&:before {
			display: none;
		}
	}

	.footer__right-bot {
		margin-bottom: 20px;
		position: relative;
		padding-bottom: 20px;

		&:before {
			display: block;
			content: "";
			position: absolute;
			width: 140px;
			bottom: 0;
			height: 1px;
			background: rgba(0, 0, 0, 0.3);
		}
	}

	.modal-question__container,
	.modal-request__container {
		padding: 30px 15px 20px 15px;
	}

	.modal-question__title {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 20px;
	}

	.modal-question__exit-btn {
		@include states {
			top: 5px;
			right: 15px;
			font-size: 20px;
		}
	}

	.modal-qusetion__inputs-wrap {
		margin-bottom: 25px;
	}

	.modal-question__sbm {
		@include states {
			height: 40px;
			line-height: 40px;
			font-size: 16px;
		}
	}

	.modal-question__file-name {
		max-width: 100px;
	}

	.modal-request__inputs-wrap {
		padding: 0;
		margin-bottom: 10px;
	}

	.modal-big-request__cols {
		margin-right: 0;
		flex-direction: column;
	}

	.modal-big-request__col {
		margin-right: 0;
		width: 100%;
	}

	.modal-big-request {
		overflow-y: auto;

		.modal-question__wrap {
			align-items: baseline;	
			padding-top: 15%;
		}
	}

}