// $map : sprite-map('icons/*.png', $spacing: 70px);

@mixin get-sprite($map, $icon) {
	$sprite-image: sprite-file($map, $icon);
	$sprite-url: sprite-url($map);
	$sprite-position: sprite-position($map, $icon);

	background: $sprite-url $sprite-position no-repeat;

	$sprite-height: image-height($sprite-image);
	$sprite-width: image-width($sprite-image);

	width: $sprite-width;
	height: $sprite-height;
} 

@mixin font($font) {
	@if $font == bold {
		font-family: 'FiraSans-Bold';
	} @elseif $font == ext {
		font-family: 'FiraSans-ExtraBold';
	} @elseif $font == heavy {
		font-family: 'FiraSans-Heavy';
	} @elseif $font == ital {
		font-family: 'FiraSans-Italic';
	} @elseif $font == light {
		font-family: 'FiraSans-Light';
	} @elseif $font == med {
		font-family: 'FiraSans-Medium';
	} @elseif $font == reg {
		font-family: 'FiraSans-Regular';
	} @elseif $font == semi {
		font-family: 'FiraSans-SemiBold';
	}
}

@mixin linksHover() {
	transition: all .3s ease-in-out;
	opacity: 1;

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 1;
	}
}

@mixin states {
	@content;

	&:hover, &:active, &:focus {
		@content;
	}
}

@mixin clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}