.p-news {
	margin-right: -40px;
	border-bottom: 1px solid #E5E5E5;
	padding-right: 40px;
	margin-bottom: 10px;
	position: relative;

	.experts__list {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.experts__link {
		@include states {
			min-height: initial;
			margin-bottom: 45px;
		}
	}
}

.pagination__list {
	font-size: 0;
}

.pagination__item {
	min-height: 28px;
	min-width: 28px;
	font-size: 14px;
	display: inline-block;
	text-align: center;

	&.active .pagination__link {
		@include states {
			border: 1px solid #a01714;
		}
	}
}

.pagination__link {
	@include states {
		border: 1px solid transparent;
		border-radius: 3px;
		display: block;
		width: 100%;
		height: 100%;
		padding: 5px 7px;
	}

	@include linksHover();
}

.pagination__link_back,
.pagination__link_next {
	border: 1px solid #d8d8d8;
	display: block;
	padding: 5px 7px;
	margin: -5px -7px;
	border-radius: 3px;
}

.pagination {
	margin: 0;
	border-radius: 0;
}



.sidebar-services {
	margin-bottom: 30px;
}

.sidebar-services__item {
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	min-height: 68px;
	margin-bottom: 7px;
}

.sidebar-services__link {
	@include states {
		display: block;
		padding: 9px;
		font-size: 16px;
		line-height: 22px;
		@include font(med);
		text-align: center;
		color: #a01714;
	}
	@include linksHover();
}

.p-news__dropdown {
	right: 40px;
	width: 235px;
	height: 37px;
	font-size: 14px;
	color: #999999;
	position: absolute;
	top: -65px;
}

.p-news__dropdown-btn {
	@include states {
		position: relative;
		border: 1px solid #c3c3c3;
		border-radius: 3px;
		display: block;
		padding: 11px 14px;
		width: 100%;
		height: 100%;

		i {
			position: absolute;
			right: 14px;
			color:#a01714;
			font-size: 16px;
		}
	}
	@include linksHover();
}

.p-news__dropdown-menu {
	margin: 0;
	margin-top: -3px;
	padding: 22px 16px;
	border:solid 1px #c3c3c3;
	border-radius: 3px;
	border-top: none;
	z-index: 1;
}

.p-news__dropdown-btn.open {
	z-index: 2;
}

.p-news__checkbox {
	display: none;
}

.p-news__label {
	cursor: pointer;
	@include linksHover();
}

.p-news__checkbox-text {
	font-size: 14px;
	line-height: 30px;
	padding-left: 32px;
	position: relative;
	color: black;

	&:before {
		display: block;
		position: absolute;
		content: "";
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
		border-radius: 3px;
		border: 1px solid #c3c3c3;
		margin-top: -1px;
		transition: border 0.3s;
	}

	&:after {
		display: block;
		position: absolute;
		content: "";
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 10px;
		height: 10px;
		border-radius: 1px;
		background-color: #a01714;
		margin: -1px 5px 0 5px;
		opacity: 0;
		transition: opacity 0.3s;
	}
}

.p-news__checkbox:checked + .p-news__checkbox-text:before {
	border-color: #a01714;
}

.p-news__checkbox:checked + .p-news__checkbox-text:after {
	opacity: 1;
}
