/* xs+sm+md */
@media screen and (max-width: 1199px) {

}

/* xs+sm */
@media screen and (max-width: 991px) {
	.p-news__dropdown {
		width: 200px;
		top: -60px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.p-news__dropdown {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 20px;
	}

	.p-news { 
		.experts__link {
			@include states {
				margin-bottom: 10px;
			}
		}

		.experts__item {
			margin-bottom: 10px;
		}
	}
}