.p-vacancies__title {
	position: relative;
}

.p-vacancies__title-count {
	background: #a01714;
	width: 22px;
	height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 50%;
	line-height: 22px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	@include font(med);
	display: inline-block;
	margin-bottom: 3px;
}

.article__info_link {
	@include states {
		color: black;
		@include font(med);
		display: inline-block;
		text-decoration: underline;
	}
	@include linksHover();
}

.p-vacancies {
	.article__info {
		font-size: 16px;
		line-height: 26px;
	}

	h2 {
		font-size: 22px;
		max-width: 100%;
	}
}

