.content {
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	padding: 20px 40px 40px 40px;
}

.breadcrumbs-list {
	margin-bottom: 13px;
}

.breadcrumbs-item {
	display: inline-block;
	margin-right: 13px;
	position: relative;
	font-size: 14px;
	color: #a01714;

	&:before {
		position: absolute;
		content: "/";
		display: block;
		right: -12px;
	}

	&:last-child {
		color: #c8c8c8;

		&:before {
			display: none;
		}
	}
}

.content-tag {
	display: inline-block;
	margin-bottom: 25px;
	min-width: 122px;
	height: 27px;
	padding: 6px 5px 5px 5px;
	text-align: center;
	font-size: 12px;
	font-family: 'FiraSans-Medium';
	background-color: #E9F7F6;
	color: #23b5ad;
}

.content-tag_black {
	color: black;
	background: #EEF5FC;
}

.content-tag_orange {
	color: #f6a623;
	background: #FEF6E9;
}

.breadcrumbs-link {
	@include linksHover();
}

.content {
	margin-top: 30px;
	margin-bottom: 30px;
}

.article {
	h1 {
		font-size: 24px;
		@include font(med);
		margin-bottom: 20px;
		max-width: 560px;
		line-height: 34px;
	}

	h2 {
		font-size: 16px;
		@include font(med);
		line-height: 24px;
		max-width: 470px;
		margin-bottom: 15px;
		text-transform: uppercase;
	}

	p {
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 30px;

		a {
			@include states {
				display: inline-block;
				text-decoration: underline;
				color: #4990e2;
			}
			@include linksHover();
		}

		b {
			@include font(med);
		}
	}

	img {
		margin-bottom: 30px;
		height: auto;
		max-width: 100%;
	}
}

.article__info {
	font-size: 14px;
	line-height: 20px;
	color: #9a9a9a;
	margin-bottom: 30px;
}

.article__info_color-default {
	color: #000000;
}

.seminars-soon__top {
	margin-bottom: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.seminars-soon__title {
	font-size: 20px;
	line-height: 26px;
	@include font(med);
}

.seminars-soon__all-btn {
	@include states {
		font-size: 14px;
		color: #a01714;
		@include font(med);
	}
	@include linksHover();
}

.seminars-soon__list {
	display: flex;
	flex-wrap: wrap;

	&:before,
	&:after {
		display: none;
	}
}

.seminars-soon__item {
	margin-bottom: 25px;
}

.seminars-soon__item_blue {
	.seminars-soon__container {
		border: 1px solid #2345b5;
	}
}

.seminars-soon__container {
	background: #fff;
	border: solid 1px #23b5ad;
	border-radius: 3px;
	padding: 13px 11px 15px 11px;
	min-height: 305px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.seminars-soon__tag {
	align-self: baseline;
	display: inline-block;
	margin-bottom: 7px;
	min-width: 122px;
	height: 27px;
	padding: 6px 5px 5px 5px;
	text-align: center;
	font-size: 12px;
	font-family: 'FiraSans-Medium';
	background-color: #E9F7F6;
	color: #23b5ad;
}

.seminars-soon__tag_blue {
	background: #E9ECF7;
	color: #2345b4;
}

.seminars-soon__desc {
	font-size: 16px;
	line-height: 22px;
	@include font(med);
	margin-bottom: 3px;
}

.seminars-soon__date {
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	padding: 10px 0 8px 0;
	margin-bottom: 10px;
}

.seminars-soon__data-title {
	color: #979797;
	font-size: 14px;
	margin-bottom: 3px; 
}

.seminars-soon__date-text {
	font-size: 16px;
	@include font(med);
}

.seminars-soon__price-title {
	@extend .seminars-soon__data-title;
}

.seminars-soon__price-text {
	font-size: 18px;
	@include font(med);
	color: #23b5ad;
}

.seminars-soon__btn-more {
	@include states {
		font-size: 18px;
		@include font(med);
		text-align: center;
		height: 40px;
		line-height: 40px;
		color: #fff;
		border-radius: 3px;
		background: #a01714;
		width: 100%;
		display: block;
		margin-top: auto;
	}
	@include linksHover();
}

.sidebar {
	margin-top: 30px;
	margin-bottom: 30px;
}

.sidebar-news {
	margin-bottom: 30px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	padding: 18px 16px 23px 21px;
}

.sidebar-news__title {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 15px;
}

.sidebar-news__item {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #BFBFBF;

	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.sidebar-news__list {
	margin-bottom: 20px;
}

.sidebar-news__link {
	@include linksHover();
	display: block;
}

.sidebar-news-info {
	margin-bottom: 6px;
}

.sidebar-news-date {
	display: inline-block;
	font-size: 12px;
	font-family: 'FiraSans-Medium';
	color: rgba(0, 0, 0, 0.5);
	margin-right: 10px;
}

.sidebar-news-tag {
	display: inline-block;
	font-size: 12px;
	font-family: 'FiraSans-Medium';
}

.sidebar-news_green {
	color: #23b5ad;
}

.sidebar-news_pink {
	color: #bd0fe1;
}

.sidebar-news__text {
	font-size: 13px;
	line-height: 18px;
}

.sidebar-news__all-btn {
	@include states {
		font-size: 16px;
		color: #a01714;
		text-decoration: underline;
	}
	@include linksHover();
}

.calendar {
	margin-bottom: 30px;
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
	min-height: 325px;
	padding-top: 18px;
}

.calendar__title {
	font-size: 16px;
	text-transform: uppercase;
	padding: 0 23px;
	margin-bottom: 30px;
}

.calendar__head {
	margin: 0 19px;
	margin-bottom: 15px;
	padding-bottom: 8px;
	font-size: 0;
	border-bottom: 1px solid #E5E5E5;
}

.calendar__wrap {
	margin: 0 14px;
}

.calendar__table {
	width: 100%;

	td {
		font-size: 18px;
		line-height: 26px;
		text-align: center;
		padding: 2px 0px;
	}
}

.calendar__prev-btn,
.calendar__next-btn {
	display: inline-block;
	width: 10%;

	i {
		font-size: 20px;
		color: #4990e2;
	}

	@include linksHover();
}

.calendar__prev-btn {
	text-align: left;
}

.calendar__next-btn {
	text-align: right;
}

.calendar__month {
	width: 80%;
	display: inline-block;
	text-align: center;
	@include font(med);
	font-size: 16px;
}

.table__link {
	display: block;
	border-radius: 50%;
	width: 77%;
	margin: 0 auto;
}

.table__link_green {
	@include states {
		color: #fff;
		background: #23b5ad;
	}
	@include linksHover();
}

.table__link_orange {
	@include states {
		color: #fff;
		background: #f6a623;
	}
	@include linksHover();
}