/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.seminars-soon__desc {
		font-size: 14px;
		line-height: 20px;
	}

	.seminars-soon__data-title, .seminars-soon__price-title {
		font-size: 14px;
	}	

	.calendar__title {
		font-size: 14px;
	}

	.calendar__table td {
		font-size: 16px;
		line-height: 22px;
	}

	.table__link {
		@include states {
			width: 90%;
			padding: 1px;
		}
	}

	.calendar {
		min-height: 285px;
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.content {
		padding: 20px 20px 40px 20px;
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.calendar {
		max-width: 220px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.seminars-soon__list {
		flex-direction: column;
		align-items: center;
	}

	.seminars-soon__item {
		max-width: 260px;
	}

	.content {
		margin-right: -15px;
		margin-left: -15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
	}

	.sidebar-news {
		margin-right: -15px;
		margin-left: -15px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 20px;
	}
}