* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

label {
	margin-bottom: 0;
	font-weight: normal;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	color: inherit;
	outline: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	@include font(reg);
	display: table;
	background: #f6f6f6;
	line-height: normal;
}

.img-container {
	max-width: 100%;
}

.img-responsive {
	width: 100%;
}

.main {
	height: auto;
	overflow: hidden;
}

.footer {
	height: 1px;
	display: table-row;
}

.col-centered{
	float: none;
	margin: 0 auto;
	text-align: center;
}